# AirBnB Build Week Project

#### Source for data:
[Inside AirBnB](http://insideairbnb.com/get-the-data.html)

## Imports

In [237]:
# Standard EDA libraries
import pandas as pd
import numpy as np
import datetime as dt
import math

# Set DataFrame display options for easier EDA
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', 300)

## Data Choosing and Cleaning

### Amsterdam Calander Dataset

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_calendar.csv)

- Determine if this data will be helpful or can be found in another dataset with more information.

In [238]:
# # Read in the data
# amsterdam_cal = pd.read_csv('Amsterdam_calendar.csv', compression='gzip')

# # Look at what data is in this file
# print(amsterdam_cal.shape)
# amsterdam_cal.head(10)

* Do not think this dataset will hold any real value for this project. Have data like this in another dataset. Probably not going to use this one but will keep it on hand for now.

### Amsterdam Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_listings.csv)

- Want to compare this dataset to the detailed one to see if this would be enough data or not.

In [239]:
# raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

# amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

# print(amsterdam_listing.shape)
# amsterdam_listing.head()

In [240]:
# # Look at a list of all the features in this dataset
# amsterdam_listing.columns

In [241]:
# # What values are in the neighbourhood_group?
# amsterdam_listing['neighbourhood_group'].value_counts()

In [242]:
# # Remove the neighbourhood_group feature --> nothing but NaNs
# amsterdam_listing = amsterdam_listing.drop('neighbourhood_group', axis=1)

# Check my work
# amsterdam_listing.head()

In [243]:
# # Look for NaN values
# amsterdam_listing.isnull().sum()

In [244]:
# # Look at a summary of the numerical data
# amsterdam_listing.describe(include=[np.number])

In [245]:
# # Look at a summary of the non-numerical values
# amsterdam_listing.describe(exclude=[np.number])

* Believe the detailed dataset will be more useful for this project due to the lack of features I believe will be useful for predictions.

* Will keep this one on hand though just in case I change my mind.

### Amsterdam Detailed Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_listings.csv)

- Explore this dataset to find out if this detailed data is going to be more helpful then the compressed listings.

In [246]:
# Read in the data using Colab
amsterdam_detailed_listing = pd.read_csv('Amsterdam_detailed_listings.csv', compression='gzip')

# Look at what kind of data I have
print(amsterdam_detailed_listing.shape)
amsterdam_detailed_listing.head(5)

(18291, 74)

      id  ... reviews_per_month
0   2818  ...              1.92
1  20168  ...              2.54
2  25428  ...              0.13
3  27886  ...              1.98
4  28871  ...              2.63

[5 rows x 74 columns]

In [247]:
# Look at all of the features 
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

- Since there are 74 features in this dataset, that is a high number of features, and just at a glance I can see, based on the feature names, that there appears to be a lot of features that I will not be of use for my case.

- I will be comparing closely related features to decide which ones to keep and which ones I will drop.

#### Null Values

In [248]:
# Find out if there are any NaN values
amsterdam_detailed_listing.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
name                                               33
description                                       297
neighborhood_overview                            6268
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                          63
host_since                                         63
host_location                                      92
host_about                                       7817
host_response_time                              14354
host_response_rate                              14354
host_acceptance_rate                            10495
host_is_superhost                                  63
host_thumbnail_url                                 63
host_picture_url                                   63
host_neighbourhood                               6134
host_listings_count                                63
host_total_listings_count                          63
host_verifications                                  0
host_has_profile_pic                               63
host_identity_verified                             63
neighbourhood                                    6268
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    18291
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       18291
bathrooms_text                                     22
bedrooms                                          997
beds                                              105
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              3
maximum_minimum_nights                              3
minimum_maximum_nights                              3
maximum_maximum_nights                              3
minimum_nights_avg_ntm                              3
maximum_nights_avg_ntm                              3
calendar_updated                                18291
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     2389
last_review                                      2389
review_scores_rating                             2632
review_scores_accuracy                           2642
review_scores_cleanliness                        2642
review_scores_checkin                            2650
review_scores_communication                      2643
review_scores_location                           2648
review_scores_value                              2648
license                                         18291
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                2389
dtype: int64

- Some of the features appear to be all null values or the majority is null.

- Need to just remove those features because they are not going to give any useful information.

In [249]:
# Remove any features that have more than half of their values as null.
# Also removing values that appear to be of little or no value for my project.
remove_cols = ['host_response_time', 'host_response_rate', 
               'host_acceptance_rate', 'neighbourhood_group_cleansed', 
               'bathrooms', 'calendar_updated', 'license', 'scrape_id', 
               'host_thumbnail_url', 'calendar_last_scraped']

# Remove the features in the above list
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(columns=remove_cols)

In [250]:
# Look at the new shape and my null values now
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing.isnull().sum()

Rows: 18291, Features: 64

id                                                 0
listing_url                                        0
last_scraped                                       0
name                                              33
description                                      297
neighborhood_overview                           6268
picture_url                                        0
host_id                                            0
host_url                                           0
host_name                                         63
host_since                                        63
host_location                                     92
host_about                                      7817
host_is_superhost                                 63
host_picture_url                                  63
host_neighbourhood                              6134
host_listings_count                               63
host_total_listings_count                         63
host_verifications                                 0
host_has_profile_pic                              63
host_identity_verified                            63
neighbourhood                                   6268
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms_text                                    22
bedrooms                                         997
beds                                             105
amenities                                          0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             3
maximum_minimum_nights                             3
minimum_maximum_nights                             3
maximum_maximum_nights                             3
minimum_nights_avg_ntm                             3
maximum_nights_avg_ntm                             3
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    2389
last_review                                     2389
review_scores_rating                            2632
review_scores_accuracy                          2642
review_scores_cleanliness                       2642
review_scores_checkin                           2650
review_scores_communication                     2643
review_scores_location                          2648
review_scores_value                             2648
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               2389
dtype: int64

#### Location Features

In [251]:
# Compare the neighbourhood featureskeep both features or just one.
amsterdam_detailed_listing[['neighbourhood', 'neighborhood_overview', 
                            'neighbourhood_cleansed']].sample(5)

      neighbourhood neighborhood_overview  neighbourhood_cleansed
12473           NaN                   NaN            Centrum-West
15074           NaN                   NaN                Oud-Oost
13426           NaN                   NaN  De Baarsjes - Oud-West
16517           NaN                   NaN               Oud-Noord
572             NaN                   NaN            Centrum-Oost

- Going to keep the `neighborhood_overview` and	`neighbourhood_cleansed` features at this point because they seem to both contain potentionally valuable information. May change it later depending on the rest of the data and what I find there.

- Did not include them here but goes with location features, I am keeping `latitude` and `longitude` since I believe they can be helpful for visualiztions if time allows me to add them to this project. I believe these might even be helpful in the prediction but not sure if I am going to include these features yet. Will decide when I get to the model creation part of this project.

In [252]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(columns='neighbourhood')

# Look at the new shape to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')

Rows: 18291, Features: 63

#### Host Features

In [253]:
# Compare all the host features
amsterdam_detailed_listing[['host_id', 'host_url', 'host_name', 'host_since',
                            'host_location', 'host_about', 'host_is_superhost', 
                            'host_picture_url', 'host_neighbourhood', 
                            'host_listings_count', 'host_total_listings_count',
                            'host_verifications', 'host_has_profile_pic', 
                            'host_identity_verified', 
                            'calculated_host_listings_count', 
                            'calculated_host_listings_count_entire_homes',
                            'calculated_host_listings_count_private_rooms',
                            'calculated_host_listings_count_shared_rooms']].sample(5)

         host_id  ... calculated_host_listings_count_shared_rooms
2266     4192913  ...                                           0
11526    7399322  ...                                           0
1397    14581356  ...                                           0
11442    9791621  ...                                           0
18021  372872506  ...                                           0

[5 rows x 18 columns]

- Going to be dropping `'host_id', 'host_url', 'host_name', 'host_location', 'host_about', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_verifications'` because these will not add any value to the model and I see no other use for them.

- All of the `calculated_host_listings_...` do not appear to be useful to me at this point. I am drop them all.

- Rename features for easier readability.

- Will be replacing all `t` with `True` and all `f` with `False`.

In [254]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['host_id', 'host_url', 'host_name', 'host_location', 'host_about', 
             'host_picture_url', 'host_neighbourhood', 'host_listings_count', 
             'host_verifications', 'calculated_host_listings_count', 
             'calculated_host_listings_count_entire_homes', 
             'calculated_host_listings_count_private_rooms', 
             'calculated_host_listings_count_shared_rooms'])

# Rename features
amsterdam_detailed_listing.rename(columns={'host_is_superhost': 'superhost', 
                                'host_total_listings_count': 'total_listings', 
                                'host_has_profile_pic': 'profile_pic', 
                                'host_identity_verified': 'verified_id'},
                                inplace=True)

# Replace all t and f with 1 and 0
amsterdam_detailed_listing[['superhost', 'profile_pic', 'verified_id'
        ]] = amsterdam_detailed_listing[['superhost', 'profile_pic', 
                                         'verified_id']].replace(['t', 'f', 
                                                                  np.nan],
                                                                 [True, False, 
                                                                  False])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['host_since', 'superhost', 'total_listings', 
                            'profile_pic', 'verified_id']].sample(5)

Rows: 18291, Features: 50

      host_since  superhost  total_listings  profile_pic  verified_id
3928  2014-12-10      False             1.0         True        False
4699  2013-05-08      False             1.0         True         True
1806  2014-07-31      False             1.0         True         True
8135  2014-11-25      False             1.0         True         True
1584  2013-05-05       True             1.0         True        False

#### Reviews

In [255]:
# Compare all the review features
amsterdam_detailed_listing[['number_of_reviews', 'number_of_reviews_ltm',
        'number_of_reviews_l30d', 'first_review', 'last_review', 
        'review_scores_rating', 'review_scores_accuracy', 
        'review_scores_cleanliness', 'review_scores_checkin', 
        'review_scores_communication', 'review_scores_location',
        'review_scores_value', 'reviews_per_month']].sample(10)

       number_of_reviews  ...  reviews_per_month
8325                  48  ...               1.03
2653                   0  ...                NaN
856                  265  ...               2.98
4972                  10  ...               0.18
17616                  0  ...                NaN
4365                   2  ...               0.03
3050                   0  ...                NaN
14347                 11  ...               0.49
11165                 27  ...               0.78
18153                  1  ...               0.48

[10 rows x 13 columns]

- Going to keep all the review feature except for the `number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, reviews_per_month`. 

- Not sure exactly what `number_of_reviews_ltm` is supposed to stand for and was not able to find out with my research or looking at multiple samples, that is part of the reason I am dropping this feature. Plus do not feel that it will add any real value to the predictions.

- All of the review features except for the ones I will drop seem that they could add value to this project.

- Also going to rename the features I am keeping.

In [256]:
# Rename the features I am keeping
amsterdam_detailed_listing.rename(columns={
    'review_scores_rating': 'avg_review_score',
    'review_scores_accuracy': 'accuracy_score',
    'review_scores_cleanliness': 'cleanliness_score', 
    'review_scores_checkin': 'checkin_score',
    'review_scores_communication': 'communication_score', 
    'review_scores_location': 'location_score',
    'review_scores_value': 'value_score'}, inplace=True)

# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 
             'last_review', 'reviews_per_month'])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['avg_review_score', 'accuracy_score', 
                            'cleanliness_score', 'checkin_score',
                            'communication_score', 'location_score', 
                            'value_score']].sample(3)

Rows: 18291, Features: 45

       avg_review_score  accuracy_score  ...  location_score  value_score
721                93.0             9.0  ...             9.0          9.0
2616                NaN             NaN  ...             NaN          NaN
15893             100.0            10.0  ...            10.0         10.0

[3 rows x 7 columns]

#### Min and Max Nights

In [257]:
# Look at all the features in regards to the number of nights and compare them.
amsterdam_detailed_listing[['minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm']].sample(5)

       minimum_nights  ...  maximum_nights_avg_ntm
14031               1  ...                     2.0
8704                3  ...                     5.0
12971               2  ...                  1125.0
1725                3  ...                  1125.0
11657               3  ...                     4.0

[5 rows x 8 columns]

- These features appear to be redundant. I am choosing to keep only the `minimum_nights` and `maximum_nights` for right now since there are no null values in either one of those.

In [258]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['minimum_minimum_nights', 'maximum_minimum_nights', 
             'minimum_maximum_nights', 'maximum_maximum_nights', 
             'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm'])

# Look at the new shape to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')

Rows: 18291, Features: 39

#### Night Availability

In [259]:
# Look at all the features in regards to the number of nights and compare them.
amsterdam_detailed_listing[['has_availability', 'availability_30', 
                            'availability_60', 'availability_90', 
                            'availability_365']].sample(10)

      has_availability  availability_30  ...  availability_90  availability_365
4831                 t               27  ...               87               362
13675                t                0  ...                0                 0
16091                t                0  ...                9                34
13389                t               29  ...               89                89
3538                 t                0  ...                6                 6
5681                 t                0  ...                0                 0
6261                 t                0  ...                0                 0
9125                 t                0  ...                0                 0
7463                 t                0  ...                0                 0
12218                t               30  ...               86               338

[10 rows x 5 columns]

- Based on the samples I have looked at and research I did, it appears that the `availability_<n>` all have values in them based on the number of days in next `n` period that the property is available to rent.

- I will keep all of these features but rename them to make it clearer as to what they mean.

- Going to replace all `t` with `True` and all `f` with `False`.

In [260]:
# Rename the features I am keeping
amsterdam_detailed_listing.rename(columns={
    'has_availability': 'available',
    'availability_30': 'avail_next_30_days',
    'availability_60': 'avail_next_60_days', 
    'availability_90': 'avail_next_90_days',
    'availability_365': 'avail_next_365_days'}, inplace=True)

# Replace all t and f with 1 and 0
amsterdam_detailed_listing['available'] = amsterdam_detailed_listing[
                                            'available'].replace(['t', 'f'],
                                                                 [True, False])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['available', 'avail_next_30_days', 
                            'avail_next_60_days', 'avail_next_90_days', 
                            'avail_next_365_days']].sample(10)

Rows: 18291, Features: 39

       available  avail_next_30_days  ...  avail_next_90_days  avail_next_365_days
4190        True                   0  ...                   0                    0
876         True                  29  ...                  89                   89
8673        True                  29  ...                  78                  179
2563        True                   0  ...                   0                    0
5169        True                   0  ...                   0                    0
10336       True                   0  ...                   0                    0
3214        True                   0  ...                   0                  133
6139        True                   0  ...                   0                    0
13224       True                   0  ...                   0                    0
3374        True                   0  ...                   0                    0

[10 rows x 5 columns]

#### Stats on remaining Features

In [261]:
# Look at the stats on the numeric features
amsterdam_detailed_listing.describe()

                 id  total_listings  ...  location_score   value_score
count  1.829100e+04    18228.000000  ...    15643.000000  15643.000000
mean   2.064229e+07        3.244459  ...        9.513456      9.202071
std    1.285836e+07       56.575963  ...        0.705519      0.832326
min    2.818000e+03        0.000000  ...        2.000000      2.000000
25%    1.010732e+07        1.000000  ...        9.000000      9.000000
50%    1.911168e+07        1.000000  ...       10.000000      9.000000
75%    3.039472e+07        1.000000  ...       10.000000     10.000000
max    4.807786e+07     7235.000000  ...       10.000000     10.000000

[8 rows x 21 columns]

* `id` = continuous, high cardnality, not useful for model, **drop this feature**

* `total_listings` = continuous, could be useful

* `latitude` = continuous, high cardnality, useful for graphing on a map

* `longitude` = continuous, high cardnality, useful for graphing on a map

* `accommodates` = discrete, number of people can accomodate.

* `bedrooms` = discrete, number of bedrooms available

* `beds` = discrete, number of beds available

* `minimum_nights` = I consider this one mostly discrete, however, there are some outliers that I will probably be removing but want to do further analysis on it first. This is the minimum nights that are required to stay at said property.

* `maximum_nights` = I consider this one mostly discrete, however, there are some outliers that I will probably be removing but want to do further analysis on it first. This is the maximum nights that someone can stay at said property.

* `avail_next_30_days` = discrete since this value will be between 0 and 30, the number of days the said property is available in the next 30 days.

* `avail_next_60_days` = discrete since this value will be between 0 and 60, the number of days the said property is available in the next 60 days.

* `avail_next_90_days` = discrete since this value will be between 0 and 90, the number of days the said property is available in the next 90 days.

* `avail_next_365_days` = discrete since this value will be between 0 and 365, the number of days the said property is available in the next 365 days.

* `number_of_reviews` = continuous, the number of reviews that the host of said property has received.

* `avg_review_score` = discrete, this is a value between 20 and 100, it is the host of the said property average review score

* `accuracy_score` = discrete, this value is between 2 and 10 and it rates the accuracy of the host's listings on a scale of 0 to 10, 10 being the most accurate.

* `cleanliness_score` = discrete, this value is between 2 and 10 and it rates the cleanliness of the host's listings on a scale of 0 to 10, 10 being the most clean.

* `checkin_score` = discrete, this value is between 2 and 10 and it rates the checkin process of the host's listings on a scale of 0 to 10, 10 being the most easiest checkin process.

* `communication_score` = discrete, this value is between 2 and 10 and it rates the communication of the host on a scale of 0 to 10, 10 being the best communication.

* `location_score` = discrete, this value is between 2 and 10 and it rates the location of the host's listings on a scale of 0 to 10, 10 being the best location.

* `value_score` = discrete, this value is between 2 and 10 and it rates the value of the host's listings on a scale of 0 to 10, 10 being the best value.

In [262]:
amsterdam_detailed_listing.describe(exclude=[np.number])

                                  listing_url  ... instant_bookable
count                                   18291  ...            18291
unique                                  18291  ...                2
top     https://www.airbnb.com/rooms/17430937  ...                f
freq                                        1  ...            13914

[4 rows x 18 columns]

* `listing_url` = high cardnality, all unique values, the url of the said listing. **Do not need this feature for prediction**, but could be useful for comparision against the user's property if we have time to impliment something of that nature.

* `last_scaped` = Not useful at all for this project. Will be **dropping this feature** completely.

* `name` = high cardnality, mostly unique values, will have to do further exploration on this feature to see if it will really add any value to prediction if I preform NLP on it. Will probably be **dropping this feature** due to having the description preprocessed using NLP would most likey add better value to the prediction model.

* `description` = high cardnality, mostly unique values,  will preprocess using **NLP** to add value to the predictive model.

* `neighborhood_overview` = high cardnality, mostly unique values with almost 7,000 null values, will have to do further exploration on this feature to see if it will really add any value to prediction if I preform **NLP** on it. 
    * UPDATE: will **remove this feature** and just use the `neighborhood` feature.

* `picture_url` = high cardnality, mostly unique values, **will not be keeping this feature** since we already have a feeature that has True or False if the host has a profile picture.

* `host_since` = will possably use this feature for creating a new feature that will have just the time length that they have been a member up to Feb 8, 2021 as this is the data that the data I am using was collected.

* `superhost` = boolean values which makes this a binary feature. Will be True or False if the host is a superhost.

* `profile_pic` = boolean values which makes this a binary feature. Will be True or False if the host has a profile picture.

* `verified_id` = boolean values which makes this a binary feature. Will be True or False if the host has verified their identity.

* `neighbourhood_cleansed` = a cleaned version of the neighbourhood feature, which I have already dropped. 

* `property_type` = does not have any null values, I believe this will be a useful feature in helping the prediction. Need to do some preprocessing with **NLP** on this feature.

* `room_type` = does not have any null values, I believe this will be a useful feature in helping the prediction, but need a little further exploration to see how it compares to the `property_type` to loook for redundancy. Need to do some preprocessing with **NLP** on this feature.

* `bathrooms_text` = only a few null values. This feature needs to be processed futher to turn it into a numerical feature. The text in this feature is not needed for this project.

* `amenities` = a list of the amendities for the said property. Will definately use this feature as it will add value to the prediction. Need to do some preprocessing with **NLP** on this using *tokenization*.

* `price` = this is going to be my target feature for this project because this is what we are trying to predict. Need to do some cleaning to this feature thought because right now it is typed as an object due to the fact that there are `$` in front of all prices.

* `available` = boolean values which makes this a binary feature. Will be True or False if the said property is currently available as of Feb 8, 2021 when the data was collected. This could be useful in the prediction because if it is not currently available, that probably means that it is currently being rented.

* `instant_bookable` = boolean values which makes this a binary feature. Will be `t` or `f` if the said property is instantly bookable. Need to replace the `t` and `f` with `True` and `False`.

#### More cleaning

In [263]:
# Look at the features still in my dataset
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_since', 'superhost',
       'total_listings', 'profile_pic', 'verified_id',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'available',
       'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days',
       'avail_next_365_days', 'number_of_reviews', 'avg_review_score',
       'accuracy_score', 'cleanliness_score', 'checkin_score',
       'communication_score', 'location_score', 'value_score',
       'instant_bookable'],
      dtype='object')

In [264]:
# Replace the t's with True and f's with False in the instant_bookable feature
amsterdam_detailed_listing['instant_bookable'] = amsterdam_detailed_listing['instant_bookable'].replace({'t': True, 'f': False})

In [265]:
# Compare the name and description
amsterdam_detailed_listing[['name', 'description']].sample(10)

                                                     name                                                                                                                                                                                                                                                                                                  description
16055                                        Anna's house                                                                                                                                                                                                                                                                                                          NaN
16239    Amazing private roof terrace | 360 views of city  A unique and bright two-bedroom apartment centrally located in ‘De Pijp’ (close to museum district, canals and RAI conference centers). The sizeable (55 sqm) private roof terrace offers an amazing view of the entire city of Amsterdam; lovely for spring and summer days. De Pijp area is filled wit...
11529        4 bedroom house with garden near city center  120m2 4 bedroom familyhouse in the suburbs of Amsterdam. The interior is industrial but cosy. A big couch, a garden or a bathtub where you can relax after a nice day shopping or sightseeing. For the kids there is a lot to play with, a slide and sandpit in the garden, lots of space and lots of to...
1462                             Natural charm in Jordaan  My home is definitely THE PLACE to have a great time! Lovely neighborhood, elegant apartment, and me doing my best to make your stay memorable and give you tips for cool spots in town. It will be hard to leave!<br /><br /><b>The space</b><br />After a year of hard work I finally finished the ren...
17531  The Weber Collection - Luxurieus Design Studio - 1  Serviced Studio suites in the city centre of Amsterdam. We aim to deliver a home away from home experience topped with the best service and hospitality. Great design and the best location in Amsterdam!<br /><br /><b>The space</b><br />Studio, sleek design, 24hour checkin and the best location in...
10709                        Amsterdam 170m2 family house  The house is spacious and light and close to both the city centre as well as the countryside. Our house is located in Amsterdam (5km to the Central Station - 15 min by bike, public transport (bus) at 2 min walking, metro in neighbourhood,free parking space in front of the house).<br /><br /><b>T...
7896      cosy room with private TV in stunning apartment  After a fascinating day in the city centre, which is only a 15-20 minutes distance by metro 54 direct , you can go for a relaxed walk in the beautiful area. Or maybe you would like to go swimming in the beautiful lake, which is part of the cozy park nearby.  While being able to enjoy all Amsterd...
1457                    Most Luxorious apartment in A'dam  Do you like to stay at a place which is cosy, trendy, flashy, catchy, entertaining, warm and gezellig situated in Amsterdam. Well don't look further, this is the place to be.<br />Situated in Amsterdam west, 15 min from Schiphol airport.<br /><br /><b>The space</b><br />Floor heating in the whol...
8760              Modern 3 bedroom apartment in Amsterdam  Nice modern apartment with fully equipped kitchen, living room, 3 bedrooms (from wich 2 available for guests), private bathroom, separate toilet, laundy room, balcony, big living room. Supermarket, restaurants, hairdresser, shops, etc, close by on the same street. High speed internet (150Mbit/s)...
15066                Spacious and comfortable family home  Space and green in a nice ‘village feeling’ neighbourhood just 10 minutes from the city centre, we love it here! <br /><br />We live her with our 3 kids so the house is big enough and well equipped for families. Lots of toys, a nice garden (back and front) and a playground just next to the house...

* Going to remove the `name` feature because the description feature seems to be a better feature to use for this project in the predictive model after doing preprocessing with NLP.

* Along with the `name` feature, going to drop other features that are not going to be useful. 

* Dropping `['id', 'listing_url', 'last_scraped', 'name', 'neighborhood_overview', 'picture_url']`

##### Drop Features

In [266]:
# Drop feature that are not going to be useful
cols_to_drop = ['id', 'listing_url', 'last_scraped', 'name', 
                'neighborhood_overview', 'picture_url']

amsterdam_list = amsterdam_detailed_listing.drop(columns=cols_to_drop)

print(amsterdam_list.shape)
amsterdam_list.head()

(18291, 33)

                                                                                                                                                                                                                                                                                                   description  ... instant_bookable
0  Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the "Indische Buurt". Amsterdam’s...  ...             True
1  17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...  ...             True
2  Lovely apt in Centre ( lift & fireplace) near Jordaan<br /><br /><b>The space</b><br />This nicely furnished, newly renovated apt  is very sunny, and spacious with 8 windows. The appliances are fairly new. There are two flat screen TVs, washing machine, dryer, dishwasher, laptop computer, Wi-fi,...  ...            False
3  Stylish and romantic houseboat on fantastic historic location with breathtaking view.  Wheelhouse, deckhouse and captains room. Central, quiet. Great breakfast, 2 vanMoof design bikes and a Canadian Canoe are included. Just read the reviews on tripadvisor for instance!<br /><br /><b>The space</b...  ...             True
4  <b>The space</b><br />In a monumental house right in the center of Amsterdam, we offer two rooms (one single room and one double room) to visitors who want to enjoy the comfort of a home-like accommodation, plus being in the middle of the historic city center, close to all important museums, sho...  ...            False

[5 rows x 33 columns]

##### Rename Featrues

In [267]:
cols_to_rename = {'neighbourhood_cleansed': 'neighborhood', 
                  'bathrooms_text': 'bathrooms', 
                  'beds': 'num_of_beds', 
                  'minimum_nights': 'min_nights', 
                  'maximum_nights': 'max_nights',
                  'number_of_reviews': 'num_of_reviews'}

amsterdam_list = amsterdam_list.rename(columns=cols_to_rename)

amsterdam_list.columns

Index(['description', 'host_since', 'superhost', 'total_listings',
       'profile_pic', 'verified_id', 'neighborhood', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'num_of_beds', 'amenities', 'price', 'min_nights', 'max_nights',
       'available', 'avail_next_30_days', 'avail_next_60_days',
       'avail_next_90_days', 'avail_next_365_days', 'num_of_reviews',
       'avg_review_score', 'accuracy_score', 'cleanliness_score',
       'checkin_score', 'communication_score', 'location_score', 'value_score',
       'instant_bookable'],
      dtype='object')

##### Data Types

In [268]:
# Look at how each feature is currently typed
amsterdam_list.dtypes

description             object
host_since              object
superhost                 bool
total_listings         float64
profile_pic               bool
verified_id               bool
neighborhood            object
latitude               float64
longitude              float64
property_type           object
room_type               object
accommodates             int64
bathrooms               object
bedrooms               float64
num_of_beds            float64
amenities               object
price                   object
min_nights               int64
max_nights               int64
available                 bool
avail_next_30_days       int64
avail_next_60_days       int64
avail_next_90_days       int64
avail_next_365_days      int64
num_of_reviews           int64
avg_review_score       float64
accuracy_score         float64
cleanliness_score      float64
checkin_score          float64
communication_score    float64
location_score         float64
value_score            float64
instant_bookable          bool
dtype: object

* Need to change data type of `host_since` to datetime data type

In [269]:
# Change the data type of `host_since` feature to datetime
amsterdam_list['host_since'] = pd.to_datetime(amsterdam_list['host_since'])

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18228 non-null  float64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18269 non-null  object
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  object
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
dtypes: bool(5), datetime64[ns](1), float64(12), int64(8), object(7)
memory usage: 4.0+ MB

* `total_listings` should be a `int` data type but it is a `float` data type. Need to correct this.

In [270]:
amsterdam_list['total_listings'].value_counts()

1.0       12365
2.0        2214
0.0        1782
3.0         588
4.0         220
5.0         151
8.0          96
98.0         85
6.0          85
85.0         81
7.0          73
9.0          43
13.0         39
41.0         38
10.0         38
12.0         35
15.0         32
43.0         31
19.0         30
18.0         28
21.0         27
22.0         24
20.0         20
30.0         19
16.0         18
17.0         15
11.0         13
39.0          6
60.0          6
29.0          5
35.0          5
27.0          3
136.0         3
23.0          2
1324.0        2
567.0         2
512.0         1
31.0          1
7235.0        1
45.0          1
Name: total_listings, dtype: int64

In [271]:
# There are null values that are causing this to be a float type,
#   need to change null values to 0 in order to make this an int type
amsterdam_list['total_listings'] = amsterdam_list['total_listings'].replace(
    np.nan, 0
).astype(int)

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18269 non-null  object
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  object
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
dtypes: bool(5), datetime64[ns](1), float64(11), int64(9), object(7)
memory usage: 4.0+ MB

* Why is the `price` feature an `object` data type when it should be a `int` data type?

In [272]:
# Look at the values in the price feature to find out why it is typed as 
#   an object and not a float
amsterdam_list.price.value_counts()

$150.00    980
$100.00    839
$120.00    661
$200.00    597
$125.00    517
          ...
$522.00      1
$337.00      1
$368.00      1
$456.00      1
$334.00      1
Name: price, Length: 502, dtype: int64

In [273]:
# Need to remove the $ and the , from the price values and type as a float
amsterdam_list['price'] = amsterdam_list['price'].map(
    lambda x: x.lstrip('$').replace(',', '')).astype(float)

amsterdam_list['price'].dtype

dtype('float64')

* Need to add a new feature `shared_bath` for the ones that list as a shared bathroom. 

* Then clean the rest of the values so that there is only numerical data remaining.

In [274]:
# Look at the values in the bathrooms feature to find out why it is typed as
#   an object and not a float
amsterdam_list['bathrooms'].value_counts()

1 bath               10677
1.5 baths             3473
1 shared bath         1210
1 private bath        1043
2 baths                802
1.5 shared baths       466
2.5 baths              239
3 baths                 96
3.5 baths               43
Half-bath               39
0 baths                 38
Shared half-bath        32
2 shared baths          29
0 shared baths          15
4 baths                 13
Private half-bath       11
3 shared baths          10
3.5 shared baths         8
2.5 shared baths         6
4 shared baths           5
4.5 baths                4
8 baths                  3
6 baths                  2
5 baths                  2
12 baths                 1
5.5 baths                1
13 baths                 1
Name: bathrooms, dtype: int64

In [275]:
# Need to remove "shared" from the values but want to still be able to use this
#   as a feature (if shared or not), so add it as a new feature with bool values
amsterdam_list['shared_bath'] = amsterdam_list['bathrooms'
                                                     ].str.lower(
                                                      ).str.contains('shared')

# Check my work
amsterdam_list[['bathrooms', 'shared_bath']].value_counts()

bathrooms          shared_bath
1 bath             False          10677
1.5 baths          False           3473
1 shared bath      True            1210
1 private bath     False           1043
2 baths            False            802
1.5 shared baths   True             466
2.5 baths          False            239
3 baths            False             96
3.5 baths          False             43
Half-bath          False             39
0 baths            False             38
Shared half-bath   True              32
2 shared baths     True              29
0 shared baths     True              15
4 baths            False             13
Private half-bath  False             11
3 shared baths     True              10
3.5 shared baths   True               8
2.5 shared baths   True               6
4 shared baths     True               5
4.5 baths          False              4
8 baths            False              3
5 baths            False              2
6 baths            False              2
13 baths           False              1
12 baths           False              1
5.5 baths          False              1
dtype: int64

In [276]:
# Need to replace all "half-bath" with 0.5
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'].str.replace('half-bath', '0.5', case=False)

# Check my work
amsterdam_list[['bathrooms', 'shared_bath']].value_counts()

bathrooms         shared_bath
1 bath            False          10677
1.5 baths         False           3473
1 shared bath     True            1210
1 private bath    False           1043
2 baths           False            802
1.5 shared baths  True             466
2.5 baths         False            239
3 baths           False             96
3.5 baths         False             43
0.5               False             39
0 baths           False             38
Shared 0.5        True              32
2 shared baths    True              29
0 shared baths    True              15
4 baths           False             13
Private 0.5       False             11
3 shared baths    True              10
3.5 shared baths  True               8
2.5 shared baths  True               6
4 shared baths    True               5
4.5 baths         False              4
8 baths           False              3
5 baths           False              2
6 baths           False              2
13 baths          False              1
12 baths          False              1
5.5 baths         False              1
dtype: int64

In [277]:
# Now I can remove the text and return only the numerical values
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'
                                             ].str.extract('(\d*\.?\d*)')

amsterdam_list['bathrooms'].value_counts()

1      12930
1.5     3939
2        831
2.5      245
3        106
0         53
3.5       51
          43
0.5       39
4         18
4.5        4
8          3
6          2
5          2
12         1
13         1
5.5        1
Name: bathrooms, dtype: int64

In [278]:
# Replace null values with 0
amsterdam_list['bathrooms'].replace(['', np.nan], 0, inplace=True)

# Set the data type to a float
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'].astype(float)

# Format the float to display only one digit on the right of the decimal point
# amsterdam_list.style.format({'bathrooms': '{:.1f}'})
# amsterdam_list['bathrooms'] = ((amsterdam_list['bathrooms']*100).astype(int).astype(float))/100
amsterdam_list['bathrooms'] = np.trunc(100 * amsterdam_list['bathrooms']) / 100

# Look at the unique values in bathrooms now
print(f'Unique Values: ', amsterdam_list.bathrooms.unique())

# What is the data type now?
print(f'Data Type now: {amsterdam_list.bathrooms.dtype}')

Unique Values:  [ 1.5  1.   2.   0.   3.   2.5  3.5  4.   0.5  6.   8.   5.   4.5  5.5
 13.  12. ]
Data Type now: float64

In [279]:
# Look at all the data types again to see if there is anything that I missed
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18269 non-null  object
dtypes: bool(5), datetime64[ns](1), float64(13), int64(9), object(6)
memory usage: 4.1+ MB

In [280]:
# Need to make all null values throughout the dataset into 0 to avoid errors
#   when running my model. This should fix the data type of shared_bath and 
#   convert it into a bool data type by removing the null values
amsterdam_list = amsterdam_list.replace(np.nan, 0)

# Checking my work
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  float64
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  object
dtypes: bool(5), float64(14), int64(9), object(6)
memory usage: 4.1+ MB

In [281]:
# Since that did not solve the issue of the data type for shared_bath, 
#   need to type it myself to a bool data type
amsterdam_list['shared_bath'] = amsterdam_list['shared_bath'].astype(bool)

# Check my work
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  float64
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  bool
dtypes: bool(6), float64(14), int64(9), object(5)
memory usage: 4.0+ MB

* Last bit of EDA to complete is changin the `host_since` from date to number of years as a float value.

In [282]:
# Need to change host_since back to datetime, when I converted all nulls to 0,
#   this feature became a float data type
amsterdam_list['host_since'] = pd.to_datetime(amsterdam_list['host_since'], 
                                              yearfirst=True)

# Create a new feature with the date the data was collected
amsterdam_list['years_hosting'] = pd.to_datetime('02-08-2021', yearfirst=True)

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  bool
 34  years_hosting        18291 non-null  datetime64[ns]
dtypes: bool(6), datetime64[ns](2), float64(13), int64(9), object(5)
memory usage: 4.2+ MB

In [283]:
# Change years_hosting from the date the data was collected to the years from
#   host_since to the data data was collected
amsterdam_list['years_hosting'] = (amsterdam_list['years_hosting'] - amsterdam_list['host_since']).dt.days/365

# Format the float to display only 2 digit on the right of the decimal point
amsterdam_list['years_hosting'] = round(amsterdam_list['years_hosting'], 2)

# # Other ways I tried and worked too to only display 2 digits on the right of the decimal point
# amsterdam_list['years_hosting'] = np.trunc(100 * amsterdam_list['years_hosting']) / 100
# amsterdam_list['years_hosting'] = [math.trunc(100 * val) / 100 for val in amsterdam_list['years_hosting']]

# Check my work
amsterdam_list.head()

                                                                                                                                                                                                                                                                                                   description  ... years_hosting
0  Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the "Indische Buurt". Amsterdam’s...  ...         12.38
1  17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...  ...         11.19
2  Lovely apt in Centre ( lift & fireplace) near Jordaan<br /><br /><b>The space</b><br />This nicely furnished, newly renovated apt  is very sunny, and spacious with 8 windows. The appliances are fairly new. There are two flat screen TVs, washing machine, dryer, dishwasher, laptop computer, Wi-fi,...  ...         11.23
3  Stylish and romantic houseboat on fantastic historic location with breathtaking view.  Wheelhouse, deckhouse and captains room. Central, quiet. Great breakfast, 2 vanMoof design bikes and a Canadian Canoe are included. Just read the reviews on tripadvisor for instance!<br /><br /><b>The space</b...  ...         10.89
4  <b>The space</b><br />In a monumental house right in the center of Amsterdam, we offer two rooms (one single room and one double room) to visitors who want to enjoy the comfort of a home-like accommodation, plus being in the middle of the historic city center, close to all important museums, sho...  ...         10.75

[5 rows x 35 columns]

In [284]:
# Now that I can drop the host_since featrue, it is no longer needed
amsterdam_list = amsterdam_list.drop(columns='host_since')

# Check my work
print(amsterdam_list.shape)
amsterdam_list.head(2)

(18291, 34)

                                                                                                                                                                                                                                                                                                   description  ...  years_hosting
0  Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the "Indische Buurt". Amsterdam’s...  ...          12.38
1  17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...  ...          11.19

[2 rows x 34 columns]

#### Group Features

In [286]:
# Look at all the current features
amsterdam_list.columns

Index(['description', 'superhost', 'total_listings', 'profile_pic',
       'verified_id', 'neighborhood', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'num_of_beds',
       'amenities', 'price', 'min_nights', 'max_nights', 'available',
       'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days',
       'avail_next_365_days', 'num_of_reviews', 'avg_review_score',
       'accuracy_score', 'cleanliness_score', 'checkin_score',
       'communication_score', 'location_score', 'value_score',
       'instant_bookable', 'shared_bath', 'years_hosting'],
      dtype='object')

In [287]:
# Look at all the current data types 
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   superhost            18291 non-null  bool
 2   total_listings       18291 non-null  int64
 3   profile_pic          18291 non-null  bool
 4   verified_id          18291 non-null  bool
 5   neighborhood         18291 non-null  object
 6   latitude             18291 non-null  float64
 7   longitude            18291 non-null  float64
 8   property_type        18291 non-null  object
 9   room_type            18291 non-null  object
 10  accommodates         18291 non-null  int64
 11  bathrooms            18291 non-null  float64
 12  bedrooms             18291 non-null  float64
 13  num_of_beds          18291 non-null  float64
 14  amenities            18291 non-null  object
 15  price                18291 non-null  float64
 16  min_nights           18291 non-null  int64
 17  max_nights           18291 non-null  int64
 18  available            18291 non-null  bool
 19  avail_next_30_days   18291 non-null  int64
 20  avail_next_60_days   18291 non-null  int64
 21  avail_next_90_days   18291 non-null  int64
 22  avail_next_365_days  18291 non-null  int64
 23  num_of_reviews       18291 non-null  int64
 24  avg_review_score     18291 non-null  float64
 25  accuracy_score       18291 non-null  float64
 26  cleanliness_score    18291 non-null  float64
 27  checkin_score        18291 non-null  float64
 28  communication_score  18291 non-null  float64
 29  location_score       18291 non-null  float64
 30  value_score          18291 non-null  float64
 31  instant_bookable     18291 non-null  bool
 32  shared_bath          18291 non-null  bool
 33  years_hosting        18291 non-null  float64
dtypes: bool(6), float64(14), int64(9), object(5)
memory usage: 4.0+ MB

In [288]:
# Seperate out my target feature
y = amsterdam_list['price']

# Group all text features for NLP preprocessing
txt_features = ['description', 'neighborhood', 'property_type', 'room_type', 
                'amenities']

# Group all numeric features
num_feat = ['total_listings', 'latitude', 'longitude', 'accommodates', 
            'bathrooms', 'bedrooms', 'num_of_beds', 'min_nights', 'max_nights', 
            'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days', 
            'avail_next_365_days', 'num_of_reviews', 'avg_review_score', 
            'accuracy_score', 'cleanliness_score', 'checkin_score', 
            'communication_score', 'location_score', 'value_score', 
            'years_hosting']

# Group all bool features
bool_feat = ['superhost', 'profile_pic', 'verified_id', 'available', 
             'instant_bookable', 'shared_bath']

#### NLP Preprocessing

## Amsterdam Detailed Reviews

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_reviews.csv)

In [ ]:
amsterdam_detailed_rev = pd.read_csv('Amsterdam_detailed_reviews.csv', compression='gzip',
                                  error_bad_lines=False)

print(amsterdam_detailed_rev.shape)
amsterdam_detailed_rev.head(10)

In [ ]:
raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

print(amsterdam_listing.shape)
amsterdam_listing.head()

In [ ]:
wa_detailed_reviews = pd.read_csv('Seattle_WA_reviews_zip.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_reviews.shape)
wa_detailed_reviews.head(10)

In [ ]:
wa_detailed_listings = pd.read_csv('Seattle_WA_detailed_listings.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_listings.shape)
wa_detailed_listings.head(10)

In [ ]:
wa_detailed_listings.columns