# AirBnB Build Week Project

#### Source for data:
[Inside AirBnB](http://insideairbnb.com/get-the-data.html)

## Imports

In [1]:
# Standard EDA libraries
import pandas as pd
import numpy as np
import datetime as dt
import math

# Set DataFrame display options for easier EDA
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', 300)

## Data Choosing and Cleaning

### Amsterdam Calander Dataset

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_calendar.csv)

- Determine if this data will be helpful or can be found in another dataset with more information.

In [2]:
# # Read in the data
# amsterdam_cal = pd.read_csv('Amsterdam_calendar.csv', compression='gzip')

# # Look at what data is in this file
# print(amsterdam_cal.shape)
# amsterdam_cal.head(10)

* Do not think this dataset will hold any real value for this project. Have data like this in another dataset. Probably not going to use this one but will keep it on hand for now.

### Amsterdam Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_listings.csv)

- Want to compare this dataset to the detailed one to see if this would be enough data or not.

In [3]:
# raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

# amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

# print(amsterdam_listing.shape)
# amsterdam_listing.head()

In [4]:
# # Look at a list of all the features in this dataset
# amsterdam_listing.columns

In [5]:
# # What values are in the neighbourhood_group?
# amsterdam_listing['neighbourhood_group'].value_counts()

In [6]:
# # Remove the neighbourhood_group feature --> nothing but NaNs
# amsterdam_listing = amsterdam_listing.drop('neighbourhood_group', axis=1)

# Check my work
# amsterdam_listing.head()

In [7]:
# # Look for NaN values
# amsterdam_listing.isnull().sum()

In [8]:
# # Look at a summary of the numerical data
# amsterdam_listing.describe(include=[np.number])

In [9]:
# # Look at a summary of the non-numerical values
# amsterdam_listing.describe(exclude=[np.number])

* Believe the detailed dataset will be more useful for this project due to the lack of features I believe will be useful for predictions.

* Will keep this one on hand though just in case I change my mind.

### Amsterdam Detailed Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_listings.csv)

- Explore this dataset to find out if this detailed data is going to be more helpful then the compressed listings.

In [10]:
# Read in the data using Colab
# # If using Google Colab, have to upload the file into colab and use this code:
# amsterdam_detailed_listing = pd.read_csv('Amsterdam_detailed_listings.csv', compression='gzip')
# If running locally via repo clone, use this code:
amsterdam_detailed_listing = pd.read_csv('../data/Amsterdam_detailed_listings.csv',
                                         compression='gzip')

# Look at what kind of data I have
print(amsterdam_detailed_listing.shape)
amsterdam_detailed_listing.head(5)

(18291, 74)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20210208155251,2021-02-11,Quiet Garden View Room & Super Fast WiFi,"Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the ""Indische Buurt"". Amsterdam’s...","Indische Buurt (""Indies Neighborhood"") is a neighbourhood in the eastern portion of the city of Amsterdam, in the Dutch province of Noord-Holland. The name dates from the early 20th century and is derived from the fact that the neighbourhood's streets are named after islands and other geographic...",https://a0.muscache.com/pictures/10272854/8dcca016_original.jpg,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.92
1,20168,https://www.airbnb.com/rooms/20168,20210208155251,2021-02-11,Studio with private bathroom in the centre 1,"17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...","Located just in between famous central canals. In the streets surrounding the house, there are lots of antique shops, and for those who are into browsing for antiques. The Rijksmuseum is a short walk away. The famous nine-streets with all its little boutique shops, cafes, restaurants and whatnot...",https://a0.muscache.com/pictures/69979628/fd6a3a80_original.jpg,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,NaN,t,2,0,2,0,2.54
2,25428,https://www.airbnb.com/rooms/25428,20210208155251,2021-02-10,"Lovely, spacious 1 bed apt in Center(with lift)","Lovely apt in Centre ( lift & fireplace) near Jordaan<br /><br /><b>The space</b><br />This nicely furnished, newly renovated apt is very sunny, and spacious with 8 windows. The appliances are fairly new. There are two flat screen TVs, washing machine, dryer, dishwasher, laptop computer, Wi-fi,...",NaN,https://a0.muscache.com/pictures/138431/7079a93d_original.jpg,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,20210208155251,2021-02-11,"Romantic, stylish B&B houseboat in canal district","Stylish and romantic houseboat on fantastic historic location with breathtaking view. Wheelhouse, deckhouse and captains room. Central, quiet. Great breakfast, 2 vanMoof design bikes and a Canadian Canoe are included. Just read the reviews on tripadvisor for instance!<br /><br /><b>The space</b...","Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e-451d-8a51-2f7a17469df7.jpg,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,NaN,t,1,0,1,0,1.98
4,28871,https://www.airbnb.com/rooms/28871,20210208155251,2021-02-10,Comfortable double room,"<b>The space</b><br />In a monumental house right in the center of Amsterdam, we offer two rooms (one single room and one double room) to visitors who want to enjoy the comfort of a home-like accommodation, plus being in the middle of the historic city center, close to all important museums, sho...","Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340f7_original.jpg,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,NaN,f,2,0,2,0,2.63

In [11]:
# Look at all of the features 
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

- Since there are 74 features in this dataset, that is a high number of features, and just at a glance I can see, based on the feature names, that there appears to be a lot of features that I will not be of use for my case.

- I will be comparing closely related features to decide which ones to keep and which ones I will drop.

#### Null Values

In [12]:
# Find out if there are any NaN values
amsterdam_detailed_listing.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
name                                               33
description                                       297
neighborhood_overview                            6268
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                          63
host_since                                         63
host_location                                      92
host_about                                       7817
host_response_time                              14354
host_response_rate                              14354
host_acceptance_rate                            10495
host_is_superhost                                  63
host_thumbnail_url                                 63
host_picture_url                                   63
host_neighbourhood                               6134
host_listings_count                                63
host_total_listings_count                          63
host_verifications                                  0
host_has_profile_pic                               63
host_identity_verified                             63
neighbourhood                                    6268
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    18291
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       18291
bathrooms_text                                     22
bedrooms                                          997
beds                                              105
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              3
maximum_minimum_nights                              3
minimum_maximum_nights                              3
maximum_maximum_nights                              3
minimum_nights_avg_ntm                              3
maximum_nights_avg_ntm                              3
calendar_updated                                18291
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     2389
last_review                                      2389
review_scores_rating                             2632
review_scores_accuracy                           2642
review_scores_cleanliness                        2642
review_scores_checkin                            2650
review_scores_communication                      2643
review_scores_location                           2648
review_scores_value                              2648
license                                         18291
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                2389
dtype: int64

- Some of the features appear to be all null values or the majority is null.

- Need to just remove those features because they are not going to give any useful information.

In [13]:
# Remove any features that have more than half of their values as null.
# Also removing values that appear to be of little or no value for my project.
remove_cols = ['host_response_time', 'host_response_rate', 
               'host_acceptance_rate', 'neighbourhood_group_cleansed', 
               'bathrooms', 'calendar_updated', 'license', 'scrape_id', 
               'host_thumbnail_url', 'calendar_last_scraped']

# Remove the features in the above list
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(columns=remove_cols)

In [14]:
# Look at the new shape and my null values now
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing.isnull().sum()

Rows: 18291, Features: 64

id                                                 0
listing_url                                        0
last_scraped                                       0
name                                              33
description                                      297
neighborhood_overview                           6268
picture_url                                        0
host_id                                            0
host_url                                           0
host_name                                         63
host_since                                        63
host_location                                     92
host_about                                      7817
host_is_superhost                                 63
host_picture_url                                  63
host_neighbourhood                              6134
host_listings_count                               63
host_total_listings_count                         63
host_verifications                                 0
host_has_profile_pic                              63
host_identity_verified                            63
neighbourhood                                   6268
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms_text                                    22
bedrooms                                         997
beds                                             105
amenities                                          0
price                                              0
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             3
maximum_minimum_nights                             3
minimum_maximum_nights                             3
maximum_maximum_nights                             3
minimum_nights_avg_ntm                             3
maximum_nights_avg_ntm                             3
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                   0
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    2389
last_review                                     2389
review_scores_rating                            2632
review_scores_accuracy                          2642
review_scores_cleanliness                       2642
review_scores_checkin                           2650
review_scores_communication                     2643
review_scores_location                          2648
review_scores_value                             2648
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               2389
dtype: int64

#### Location Features

In [15]:
# Compare the neighbourhood featureskeep both features or just one.
amsterdam_detailed_listing[['neighbourhood', 'neighborhood_overview', 
                            'neighbourhood_cleansed']].sample(5)

,neighbourhood,neighborhood_overview,neighbourhood_cleansed
5692,"Amsterdam, Noord-Holland, Netherlands","The apartment is located between the vibrant Baarsjes and the City Centre. The City Centre is easily reachable with public transport or by bike, there are the most tourist venues located.<br /><br />The Baarsjes is a district remarkably close to the city centre. It is an upcoming neighborhood ve...",Westerpark
3002,"Amsterdam, Noord-Holland, Netherlands","The apartment lies just across the water from central station, in the lovely area of Amsterdam North. A free ferry travels day and night and takes you across the water in just 3 minutes. The NY Times recently called this one of the hippest neighborhoods in the world. A lot of young creative peop...",Oud-Noord
8145,NaN,NaN,Zuid
17418,"Amsterdam, Noord-Holland, Netherlands","We are located in the beautiful Westerpark where you can find tons to do:<br />- Plenty of bars, a local brewery and a very cool arcade bar at Westergasfabriek.<br />- A variety of restaurants including our very own Bar Kantoor which serves all day organic dishes and drinks. <br />- At our sexy ...",Westerpark
13734,"Amsterdam, Noord-Holland, Netherlands","The perfect neighborhood for guests, who would like to be close to the City Center, while still being able to get undisturbed night rest. The nearby Alber Hejn and Dirk Van Den Broek's Supermarket are just 4 minutes walking distance from your apartment , in case you want to do groceries. If n...",Bos en Lommer

- Going to keep the `neighborhood_overview` and	`neighbourhood_cleansed` features at this point because they seem to both contain potentionally valuable information. May change it later depending on the rest of the data and what I find there.

- Did not include them here but goes with location features, I am keeping `latitude` and `longitude` since I believe they can be helpful for visualiztions if time allows me to add them to this project. I believe these might even be helpful in the prediction but not sure if I am going to include these features yet. Will decide when I get to the model creation part of this project.

In [16]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(columns='neighbourhood')

# Look at the new shape to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')

Rows: 18291, Features: 63

#### Host Features

In [17]:
# Compare all the host features
amsterdam_detailed_listing[['host_id', 'host_url', 'host_name', 'host_since',
                            'host_location', 'host_about', 'host_is_superhost', 
                            'host_picture_url', 'host_neighbourhood', 
                            'host_listings_count', 'host_total_listings_count',
                            'host_verifications', 'host_has_profile_pic', 
                            'host_identity_verified', 
                            'calculated_host_listings_count', 
                            'calculated_host_listings_count_entire_homes',
                            'calculated_host_listings_count_private_rooms',
                            'calculated_host_listings_count_shared_rooms']].sample(5)

,host_id,host_url,host_name,host_since,host_location,host_about,host_is_superhost,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
12730,205189174,https://www.airbnb.com/users/show/205189174,Anton,2018-07-26,NL,NaN,f,https://a0.muscache.com/im/pictures/user/fedb644f-c262-4200-a626-869659901bbb.jpg?aki_policy=profile_x_medium,NaN,6.0,6.0,"['email', 'phone', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",t,t,4,0,4,0
9988,135487531,https://www.airbnb.com/users/show/135487531,Rogier & Nicole,2017-06-17,"Amsterdam, North Holland, Netherlands","We are a couple from Amsterdam and we love to travel. A few years ago we've hosted a wintersport chalet in Austria. We liked it so much that we wanted to open our own B&B. What started out with the idea of a small cabin in the backyard, became much bigger when we got the opportunity of opening t...",f,https://a0.muscache.com/im/pictures/user/b7160bf2-33b0-40f5-86e8-711543f2e5f9.jpg?aki_policy=profile_x_medium,Oostzanerwerf,7.0,7.0,"['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']",t,t,7,7,0,0
17776,135209570,https://www.airbnb.com/users/show/135209570,Nielske,2017-06-15,"Amsterdam, North Holland, Netherlands","Hello,\n\nI’m Niels, I lived all over the world, love to travel and meet new people. I’m an energetic, creative father that lives in Amsterdam for work. Love this amazing city and can help anyone with some great trip advice in the city. Love to host you around the city... and hope to see you so...",f,https://a0.muscache.com/im/pictures/user/859dc7d4-b85e-4f4e-bb2d-32be09d53def.jpg?aki_policy=profile_x_medium,NaN,0.0,0.0,"['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']",t,t,1,1,0,0
7812,107474210,https://www.airbnb.com/users/show/107474210,Marleen,2016-12-16,"Amsterdam, North Holland, Netherlands","The two of us are in our forties and we have two children, a 9-year-old girl and a 6-year-old boy. We love the city (theatre, museums, restaurants), but we also love nature (peace, green, water, preferably sea).",f,https://a0.muscache.com/im/pictures/user/ea27b57c-c187-450d-ab5d-918827968d00.jpg?aki_policy=profile_x_medium,Nieuwendammerdijk en Buiksloterdijk,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']",t,t,1,1,0,0
1586,17711481,https://www.airbnb.com/users/show/17711481,Anton,2014-07-06,"Amsterdam, North Holland, The Netherlands","Anton and Berthe are both 33 years old and we live in the old center of Amsterdam. We love good food, traveling and meeting interesting people. We like mid century Danish and American design and collect curiosities from all over the world.",f,https://a0.muscache.com/im/users/17711481/profile_pic/1406849324/original.jpg?aki_policy=profile_x_medium,De Wallen,1.0,1.0,"['email', 'phone', 'reviews', 'jumio']",t,t,1,1,0,0

- Going to be dropping `'host_id', 'host_url', 'host_name', 'host_location', 'host_about', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_verifications'` because these will not add any value to the model and I see no other use for them.

- All of the `calculated_host_listings_...` do not appear to be useful to me at this point. I am drop them all.

- Rename features for easier readability.

- Will be replacing all `t` with `True` and all `f` with `False`.

In [18]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['host_id', 'host_url', 'host_name', 'host_location', 'host_about', 
             'host_picture_url', 'host_neighbourhood', 'host_listings_count', 
             'host_verifications', 'calculated_host_listings_count', 
             'calculated_host_listings_count_entire_homes', 
             'calculated_host_listings_count_private_rooms', 
             'calculated_host_listings_count_shared_rooms'])

# Rename features
amsterdam_detailed_listing.rename(columns={'host_is_superhost': 'superhost', 
                                'host_total_listings_count': 'total_listings', 
                                'host_has_profile_pic': 'profile_pic', 
                                'host_identity_verified': 'verified_id'},
                                inplace=True)

# Replace all t and f with 1 and 0
amsterdam_detailed_listing[['superhost', 'profile_pic', 'verified_id'
        ]] = amsterdam_detailed_listing[['superhost', 'profile_pic', 
                                         'verified_id']].replace(['t', 'f', 
                                                                  np.nan],
                                                                 [True, False, 
                                                                  False])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['host_since', 'superhost', 'total_listings', 
                            'profile_pic', 'verified_id']].sample(5)

Rows: 18291, Features: 50

       host_since  superhost  total_listings  profile_pic  verified_id
1814   2013-09-16      False             1.0         True        False
2925   2015-06-03      False             1.0         True         True
12232  2016-04-05      False            85.0         True         True
11497  2012-10-26       True             1.0         True        False
17548  2018-08-27      False             1.0         True         True

#### Reviews

In [19]:
# Compare all the review features
amsterdam_detailed_listing[['number_of_reviews', 'number_of_reviews_ltm',
        'number_of_reviews_l30d', 'first_review', 'last_review', 
        'review_scores_rating', 'review_scores_accuracy', 
        'review_scores_cleanliness', 'review_scores_checkin', 
        'review_scores_communication', 'review_scores_location',
        'review_scores_value', 'reviews_per_month']].sample(10)

,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
17942,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9076,7,0,0,2017-06-04,2020-01-01,97.0,10.0,10.0,9.0,10.0,10.0,9.0,0.16
4694,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8466,7,0,0,2017-05-07,2018-01-03,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.15
13132,15,4,0,2018-12-06,2020-09-20,85.0,9.0,9.0,9.0,9.0,9.0,9.0,0.56
7436,31,1,0,2016-11-05,2020-03-18,98.0,10.0,9.0,10.0,10.0,9.0,9.0,0.60
9013,6,0,0,2017-05-26,2019-12-29,100.0,10.0,9.0,10.0,10.0,10.0,9.0,0.13
14776,4,0,0,2019-05-19,2020-01-02,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.19
16294,1,0,0,2019-12-01,2019-12-01,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.07
6083,30,0,0,2016-07-01,2020-01-21,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.53

- Going to keep all the review feature except for the `number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, reviews_per_month`. 

- Not sure exactly what `number_of_reviews_ltm` is supposed to stand for and was not able to find out with my research or looking at multiple samples, that is part of the reason I am dropping this feature. Plus do not feel that it will add any real value to the predictions.

- All of the review features except for the ones I will drop seem that they could add value to this project.

- Also going to rename the features I am keeping.

In [20]:
# Rename the features I am keeping
amsterdam_detailed_listing.rename(columns={
    'review_scores_rating': 'avg_review_score',
    'review_scores_accuracy': 'accuracy_score',
    'review_scores_cleanliness': 'cleanliness_score', 
    'review_scores_checkin': 'checkin_score',
    'review_scores_communication': 'communication_score', 
    'review_scores_location': 'location_score',
    'review_scores_value': 'value_score'}, inplace=True)

# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 
             'last_review', 'reviews_per_month'])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['avg_review_score', 'accuracy_score', 
                            'cleanliness_score', 'checkin_score',
                            'communication_score', 'location_score', 
                            'value_score']].sample(3)

Rows: 18291, Features: 45

,avg_review_score,accuracy_score,cleanliness_score,checkin_score,communication_score,location_score,value_score
9923,93.0,10.0,9.0,9.0,10.0,10.0,8.0
13670,90.0,9.0,8.0,9.0,10.0,9.0,9.0
11869,100.0,10.0,10.0,10.0,10.0,10.0,10.0

#### Min and Max Nights

In [21]:
# Look at all the features in regards to the number of nights and compare them.
amsterdam_detailed_listing[['minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm']].sample(5)

,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
5170,3,9,3.0,3.0,9.0,9.0,3.0,9.0
15438,1,7,1.0,2.0,7.0,7.0,1.3,7.0
6239,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0
10448,2,14,2.0,2.0,1125.0,1125.0,2.0,1125.0
5212,3,1125,3.0,3.0,1125.0,1125.0,3.0,1125.0

- These features appear to be redundant. I am choosing to keep only the `minimum_nights` and `maximum_nights` for right now since there are no null values in either one of those.

In [22]:
# Remove the features from above that is not needed
amsterdam_detailed_listing = amsterdam_detailed_listing.drop(
    columns=['minimum_minimum_nights', 'maximum_minimum_nights', 
             'minimum_maximum_nights', 'maximum_maximum_nights', 
             'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm'])

# Look at the new shape to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')

Rows: 18291, Features: 39

#### Night Availability

In [23]:
# Look at all the features in regards to the number of nights and compare them.
amsterdam_detailed_listing[['has_availability', 'availability_30', 
                            'availability_60', 'availability_90', 
                            'availability_365']].sample(10)

,has_availability,availability_30,availability_60,availability_90,availability_365
1323,t,0,0,0,0
10507,t,0,0,0,0
15577,t,29,59,89,89
2578,t,0,0,0,0
15605,t,0,0,0,0
8053,t,0,0,0,0
9809,t,0,0,0,0
2990,f,0,0,0,0
7441,t,0,0,0,0
17488,t,29,59,89,179

- Based on the samples I have looked at and research I did, it appears that the `availability_<n>` all have values in them based on the number of days in next `n` period that the property is available to rent.

- I will keep all of these features but rename them to make it clearer as to what they mean.

- Going to replace all `t` with `True` and all `f` with `False`.

In [24]:
# Rename the features I am keeping
amsterdam_detailed_listing.rename(columns={
    'has_availability': 'available',
    'availability_30': 'avail_next_30_days',
    'availability_60': 'avail_next_60_days', 
    'availability_90': 'avail_next_90_days',
    'availability_365': 'avail_next_365_days'}, inplace=True)

# Replace all t and f with 1 and 0
amsterdam_detailed_listing['available'] = amsterdam_detailed_listing[
                                            'available'].replace(['t', 'f'],
                                                                 [True, False])

# Look at the new shape and a sample of 3 to check my work
print(f'Rows: {amsterdam_detailed_listing.shape[0]}, Features: {amsterdam_detailed_listing.shape[1]}')
amsterdam_detailed_listing[['available', 'avail_next_30_days', 
                            'avail_next_60_days', 'avail_next_90_days', 
                            'avail_next_365_days']].sample(10)

Rows: 18291, Features: 39

,available,avail_next_30_days,avail_next_60_days,avail_next_90_days,avail_next_365_days
8040,False,0,0,0,0
9930,True,0,0,0,0
15174,True,0,0,0,0
3533,True,0,0,0,0
952,True,0,0,0,0
1178,True,29,59,89,177
5096,True,0,0,0,0
11068,True,0,0,0,0
2503,True,29,59,89,179
11914,True,0,0,0,0

#### Stats on remaining Features

In [25]:
# Look at the stats on the numeric features
amsterdam_detailed_listing.describe()

,id,total_listings,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,avail_next_30_days,...,avail_next_90_days,avail_next_365_days,number_of_reviews,avg_review_score,accuracy_score,cleanliness_score,checkin_score,communication_score,location_score,value_score
count,1.829100e+04,18228.000000,18291.000000,18291.000000,18291.000000,17294.000000,18186.000000,18291.000000,18291.000000,18291.000000,...,18291.000000,18291.000000,18291.000000,15659.000000,15649.000000,15649.000000,15641.000000,15648.000000,15643.000000,15643.000000
mean,2.064229e+07,3.244459,52.365478,4.889504,2.837570,1.534405,1.765259,3.727407,611.559565,5.950467,...,19.262315,61.923132,24.125198,95.107287,9.690907,9.457857,9.750911,9.794926,9.513456,9.202071
std,1.285836e+07,56.575963,0.016559,0.035833,1.282434,0.959211,1.444775,16.331468,545.438112,11.195839,...,34.282051,115.602325,54.560889,7.035600,0.728646,0.914985,0.659262,0.636390,0.705519,0.832326
min,2.818000e+03,0.000000,52.289270,4.755940,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,1.010732e+07,1.000000,52.355100,4.863920,2.000000,1.000000,1.000000,2.000000,21.000000,0.000000,...,0.000000,0.000000,2.000000,93.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,1.911168e+07,1.000000,52.364790,4.887010,2.000000,1.000000,1.000000,2.000000,1125.000000,0.000000,...,0.000000,0.000000,8.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,3.039472e+07,1.000000,52.375370,4.909230,4.000000,2.000000,2.000000,3.000000,1125.000000,0.000000,...,18.000000,78.000000,22.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,4.807786e+07,7235.000000,52.425120,5.027690,16.000000,50.000000,35.000000,1001.000000,11250.000000,30.000000,...,90.000000,365.000000,859.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

* `id` = continuous, high cardnality, not useful for model, **drop this feature**

* `total_listings` = continuous, could be useful

* `latitude` = continuous, high cardnality, useful for graphing on a map

* `longitude` = continuous, high cardnality, useful for graphing on a map

* `accommodates` = discrete, number of people can accomodate.

* `bedrooms` = discrete, number of bedrooms available

* `beds` = discrete, number of beds available

* `minimum_nights` = I consider this one mostly discrete, however, there are some outliers that I will probably be removing but want to do further analysis on it first. This is the minimum nights that are required to stay at said property.

* `maximum_nights` = I consider this one mostly discrete, however, there are some outliers that I will probably be removing but want to do further analysis on it first. This is the maximum nights that someone can stay at said property.

* `avail_next_30_days` = discrete since this value will be between 0 and 30, the number of days the said property is available in the next 30 days.

* `avail_next_60_days` = discrete since this value will be between 0 and 60, the number of days the said property is available in the next 60 days.

* `avail_next_90_days` = discrete since this value will be between 0 and 90, the number of days the said property is available in the next 90 days.

* `avail_next_365_days` = discrete since this value will be between 0 and 365, the number of days the said property is available in the next 365 days.

* `number_of_reviews` = continuous, the number of reviews that the host of said property has received.

* `avg_review_score` = discrete, this is a value between 20 and 100, it is the host of the said property average review score

* `accuracy_score` = discrete, this value is between 2 and 10 and it rates the accuracy of the host's listings on a scale of 0 to 10, 10 being the most accurate.

* `cleanliness_score` = discrete, this value is between 2 and 10 and it rates the cleanliness of the host's listings on a scale of 0 to 10, 10 being the most clean.

* `checkin_score` = discrete, this value is between 2 and 10 and it rates the checkin process of the host's listings on a scale of 0 to 10, 10 being the most easiest checkin process.

* `communication_score` = discrete, this value is between 2 and 10 and it rates the communication of the host on a scale of 0 to 10, 10 being the best communication.

* `location_score` = discrete, this value is between 2 and 10 and it rates the location of the host's listings on a scale of 0 to 10, 10 being the best location.

* `value_score` = discrete, this value is between 2 and 10 and it rates the value of the host's listings on a scale of 0 to 10, 10 being the best value.

In [26]:
amsterdam_detailed_listing.describe(exclude=[np.number])

,listing_url,last_scraped,name,description,neighborhood_overview,picture_url,host_since,superhost,profile_pic,verified_id,neighbourhood_cleansed,property_type,room_type,bathrooms_text,amenities,price,available,instant_bookable
count,18291,18291,18258,17994,12023,18291,18228,18291,18291,18291,18291,18291,18291,18269,18291,18291,18291,18291
unique,18291,4,17863,17793,10954,18108,3268,2,2,2,22,65,4,27,16744,502,2,2
top,https://www.airbnb.com/rooms/27698144,2021-02-09,Amsterdam,"Hotel Jansen is a new Short Stay hotel in Amsterdam. We offer great and affordable accommodation for students, graduates, interns & young professionals from all over the world. Hotel Jansen is a place you can call home. You can also find us online.<br /><br /><b>The space</b><br />Each room in H...",Oud West is close to the city-centre and close to both Vondelpark and Rembrandtpark. Ten Katestraat market is an excellent outdoor market with its charming cross-street ‘Bellamystraat’ giving the area an old-fashion village vibe – complete with dance studio and blacksmith. Kinkerstraat is a mult...,https://a0.muscache.com/pictures/94122561/af9864fb_original.jpg,2016-04-05,False,True,True,De Baarsjes - Oud-West,Entire apartment,Entire home/apt,1 bath,"[""Long term stays allowed""]",$150.00,True,f
freq,1,7486,31,13,36,4,88,15912,18199,11918,3044,11393,14283,10677,45,980,17889,13914

* `listing_url` = high cardnality, all unique values, the url of the said listing. **Do not need this feature for prediction**, but could be useful for comparision against the user's property if we have time to impliment something of that nature.

* `last_scaped` = Not useful at all for this project. Will be **dropping this feature** completely.

* `name` = high cardnality, mostly unique values, will have to do further exploration on this feature to see if it will really add any value to prediction if I preform NLP on it. Will probably be **dropping this feature** due to having the description preprocessed using NLP would most likey add better value to the prediction model.

* `description` = high cardnality, mostly unique values,  will preprocess using **NLP** to add value to the predictive model.

* `neighborhood_overview` = high cardnality, mostly unique values with almost 7,000 null values, will have to do further exploration on this feature to see if it will really add any value to prediction if I preform **NLP** on it. 
    * UPDATE: will **remove this feature** and just use the `neighborhood` feature.

* `picture_url` = high cardnality, mostly unique values, **will not be keeping this feature** since we already have a feeature that has True or False if the host has a profile picture.

* `host_since` = will possably use this feature for creating a new feature that will have just the time length that they have been a member up to Feb 8, 2021 as this is the data that the data I am using was collected.

* `superhost` = boolean values which makes this a binary feature. Will be True or False if the host is a superhost.

* `profile_pic` = boolean values which makes this a binary feature. Will be True or False if the host has a profile picture.

* `verified_id` = boolean values which makes this a binary feature. Will be True or False if the host has verified their identity.

* `neighbourhood_cleansed` = a cleaned version of the neighbourhood feature, which I have already dropped. 

* `property_type` = does not have any null values, I believe this will be a useful feature in helping the prediction. Need to do some preprocessing with **NLP** on this feature.

* `room_type` = does not have any null values, I believe this will be a useful feature in helping the prediction, but need a little further exploration to see how it compares to the `property_type` to loook for redundancy. Need to do some preprocessing with **NLP** on this feature.

* `bathrooms_text` = only a few null values. This feature needs to be processed futher to turn it into a numerical feature. The text in this feature is not needed for this project.

* `amenities` = a list of the amendities for the said property. Will definately use this feature as it will add value to the prediction. Need to do some preprocessing with **NLP** on this using *tokenization*.

* `price` = this is going to be my target feature for this project because this is what we are trying to predict. Need to do some cleaning to this feature thought because right now it is typed as an object due to the fact that there are `$` in front of all prices.

* `available` = boolean values which makes this a binary feature. Will be True or False if the said property is currently available as of Feb 8, 2021 when the data was collected. This could be useful in the prediction because if it is not currently available, that probably means that it is currently being rented.

* `instant_bookable` = boolean values which makes this a binary feature. Will be `t` or `f` if the said property is instantly bookable. Need to replace the `t` and `f` with `True` and `False`.

#### More cleaning

In [27]:
# Look at the features still in my dataset
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_since', 'superhost',
       'total_listings', 'profile_pic', 'verified_id',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'maximum_nights', 'available',
       'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days',
       'avail_next_365_days', 'number_of_reviews', 'avg_review_score',
       'accuracy_score', 'cleanliness_score', 'checkin_score',
       'communication_score', 'location_score', 'value_score',
       'instant_bookable'],
      dtype='object')

In [28]:
# Replace the t's with True and f's with False in the instant_bookable feature
amsterdam_detailed_listing['instant_bookable'] = amsterdam_detailed_listing['instant_bookable'].replace({'t': True, 'f': False})

In [29]:
# Compare the name and description
amsterdam_detailed_listing[['name', 'description']].sample(10)

,name,description
15074,Luxe private bedroom,Newly renovated apartment is located in the Pijp and near the center. Perfect location allows you to reach any point in the city fast and conveniently. The Metro station Wibautstraat is in front of the door and brings you in;<br />- 5 min to Amsterdam Central Station;<br />- 5 min to RAI Conven...
16361,Cozy completely renovated ap. at Westerpark!,"Feel like a local in my cozy charming apartment in the vibrant Westerpark area.<br />Fully equipped kitchen with dishwasher, oven and induction hob, fridge, freezer and big tv. Coffee and tea are free to use.<br />The apartment is located in the lovely Staatsliedenbuurt, nice and quiet area betw..."
4131,Sunny & Spacious Apartment,"Flat of 95 m^2, with spacious kitchen and living room on the first, and bedrooms and bathroom on the top floor. One bedroom for two adults, on bedroom for a small child (&lt;3). Also including a large and sunny roof terrace for private use! Close to parks, shops, bars and restaurants.<br /><br /..."
13873,Room with private bathroom close to the citycentre,"You can find our house in one of the most beautiful areas of Amsterdam. Very close to the citycentre of Amsterdam. In front of our house you will find a beautiful city lake, a big park and a little beach which is absolutely great in summer! The tram stops around the corner and takes you to the ..."
7080,Beautiful apartment 10 min from Amsterdam central!,"If you are looking for a cosy luxurious studio apartment, my apartment would be perfect for you. It’s a 30m^2 apartment with high quality, space efficient, fold in beds. The house is equipped with everything you need. <br /> <br />I'd love to welcome you in the beautiful city Amsterdam. My apart..."
11944,Light apartment Amsterdam East (Oosterpark area),"Great appartement in booming Amsterdam East. The apartment (50m2) is very light and has a comfortable and big balcony. Close to Oosterpark, Javastraat and the best cafes and restaurants of the neighbourhood."
3368,Modern apartmnt- Amsterdam City Centre - 9 streets,"In the Jordaan, one of the nicest places in Amsterdam. A newly renovated apartment fully furnished in a clean style. Westerstraat is a popular shopping street, you can find mostly everything around the area. Close to Amsterdam musea, Westerpark, shopping district and bars/restaurants."
13110,Best Secret Water Spot - WaterVilla - Amsterdam,Best Secret Water Spot - WaterVilla - Amsterdam<br /><br />About doodle bed & breakfast: We are a couple for a few years now and last year we got the opportunity to buy our amazing ”Water Villa”. A dream to live on the water come true!<br /><br />The Water Villa was quit big for the two of us. ...
16003,"Gezinswoning+tuin in Jordaan, alleen voor gezinnen","Only for family with children!<br /><br />Gezinswoning met tuin en balkon aan de begane grond midden in de gezellige Jordaan! Huis is zeer geschikt voor mensen met kinderen. Dichtbij de grachten, de dam, het Anne Frank huis en allerlei parken!<br /><br /><b>The space</b><br />Het huis is begane ..."
3679,Rustig en ruim appartement,"Wil je verblijven in een groene wijk? Waar je rustig kunt slapen? In een wijk waar je onder de Nederlanders bent? Dit is de plek! <br />We hebben een heerlijk auping bed, prachtige houten vloer, 2 balkons, een nieuwe badkamer met bad en douche. Dit appartement is niet geschikt voor mensen die wi..."

* Going to remove the `name` feature because the description feature seems to be a better feature to use for this project in the predictive model after doing preprocessing with NLP.

* Along with the `name` feature, going to drop other features that are not going to be useful. 

* Dropping `['id', 'listing_url', 'last_scraped', 'name', 'neighborhood_overview', 'picture_url']`

##### Drop Features

In [30]:
# Drop feature that are not going to be useful
cols_to_drop = ['id', 'listing_url', 'last_scraped', 'name', 
                'neighborhood_overview', 'picture_url']

amsterdam_list = amsterdam_detailed_listing.drop(columns=cols_to_drop)

print(amsterdam_list.shape)
amsterdam_list.head()

(18291, 33)

,description,host_since,superhost,total_listings,profile_pic,verified_id,neighbourhood_cleansed,latitude,longitude,property_type,...,avail_next_365_days,number_of_reviews,avg_review_score,accuracy_score,cleanliness_score,checkin_score,communication_score,location_score,value_score,instant_bookable
0,"Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the ""Indische Buurt"". Amsterdam’s...",2008-09-24,True,1.0,True,True,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room in apartment,...,139,278,98.0,10.0,10.0,10.0,10.0,9.0,10.0,True
1,"17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...",2009-12-02,False,2.0,True,True,Centrum-Oost,52.36509,4.89354,Private room in townhouse,...,0,339,89.0,10.0,10.0,10.0,10.0,10.0,9.0,True
2,"Lovely apt in Centre ( lift & fireplace) near Jordaan<br /><br /><b>The space</b><br />This nicely furnished, newly renovated apt is very sunny, and spacious with 8 windows. The appliances are fairly new. There are two flat screen TVs, washing machine, dryer, dishwasher, laptop computer, Wi-fi,...",2009-11-20,True,2.0,True,False,Centrum-West,52.37297,4.88339,Entire apartment,...,251,5,100.0,10.0,10.0,10.0,10.0,10.0,10.0,False
3,"Stylish and romantic houseboat on fantastic historic location with breathtaking view. Wheelhouse, deckhouse and captains room. Central, quiet. Great breakfast, 2 vanMoof design bikes and a Canadian Canoe are included. Just read the reviews on tripadvisor for instance!<br /><br /><b>The space</b...",2010-03-23,True,1.0,True,True,Centrum-West,52.38761,4.89188,Private room in houseboat,...,136,219,99.0,10.0,10.0,10.0,10.0,10.0,10.0,True
4,"<b>The space</b><br />In a monumental house right in the center of Amsterdam, we offer two rooms (one single room and one double room) to visitors who want to enjoy the comfort of a home-like accommodation, plus being in the middle of the historic city center, close to all important museums, sho...",2010-05-13,True,2.0,True,True,Centrum-Oost,52.36610,4.88953,Private room in apartment,...,338,336,97.0,10.0,10.0,10.0,10.0,10.0,10.0,False

##### Rename Featrues

In [31]:
cols_to_rename = {'neighbourhood_cleansed': 'neighborhood', 
                  'bathrooms_text': 'bathrooms', 
                  'beds': 'num_of_beds', 
                  'minimum_nights': 'min_nights', 
                  'maximum_nights': 'max_nights',
                  'number_of_reviews': 'num_of_reviews'}

amsterdam_list = amsterdam_list.rename(columns=cols_to_rename)

amsterdam_list.columns

Index(['description', 'host_since', 'superhost', 'total_listings',
       'profile_pic', 'verified_id', 'neighborhood', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'num_of_beds', 'amenities', 'price', 'min_nights', 'max_nights',
       'available', 'avail_next_30_days', 'avail_next_60_days',
       'avail_next_90_days', 'avail_next_365_days', 'num_of_reviews',
       'avg_review_score', 'accuracy_score', 'cleanliness_score',
       'checkin_score', 'communication_score', 'location_score', 'value_score',
       'instant_bookable'],
      dtype='object')

##### Data Types

In [32]:
# Look at how each feature is currently typed
amsterdam_list.dtypes

description             object
host_since              object
superhost                 bool
total_listings         float64
profile_pic               bool
verified_id               bool
neighborhood            object
latitude               float64
longitude              float64
property_type           object
room_type               object
accommodates             int64
bathrooms               object
bedrooms               float64
num_of_beds            float64
amenities               object
price                   object
min_nights               int64
max_nights               int64
available                 bool
avail_next_30_days       int64
avail_next_60_days       int64
avail_next_90_days       int64
avail_next_365_days      int64
num_of_reviews           int64
avg_review_score       float64
accuracy_score         float64
cleanliness_score      float64
checkin_score          float64
communication_score    float64
location_score         float64
value_score            float64
instant_bookable          bool
dtype: object

* Need to change data type of `host_since` to datetime data type

In [33]:
# Change the data type of `host_since` feature to datetime
amsterdam_list['host_since'] = pd.to_datetime(amsterdam_list['host_since'])

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18228 non-null  float64
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18269 non-null  object
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  object
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
dtypes: bool(5), datetime64[ns](1), float64(12), int64(8), object(7)
memory usage: 4.0+ MB

* `total_listings` should be a `int` data type but it is a `float` data type. Need to correct this.

In [34]:
amsterdam_list['total_listings'].value_counts()

1.0       12365
2.0        2214
0.0        1782
3.0         588
4.0         220
5.0         151
8.0          96
98.0         85
6.0          85
85.0         81
7.0          73
9.0          43
13.0         39
41.0         38
10.0         38
12.0         35
15.0         32
43.0         31
19.0         30
18.0         28
21.0         27
22.0         24
20.0         20
30.0         19
16.0         18
17.0         15
11.0         13
39.0          6
60.0          6
29.0          5
35.0          5
27.0          3
136.0         3
23.0          2
1324.0        2
567.0         2
512.0         1
31.0          1
7235.0        1
45.0          1
Name: total_listings, dtype: int64

In [35]:
# There are null values that are causing this to be a float type,
#   need to change null values to 0 in order to make this an int type
amsterdam_list['total_listings'] = amsterdam_list['total_listings'].replace(
    np.nan, 0
).astype(int)

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int32
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18269 non-null  object
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  object
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
dtypes: bool(5), datetime64[ns](1), float64(11), int32(1), int64(8), object(7)
memory usage: 3.9+ MB

* Why is the `price` feature an `object` data type when it should be a `int` data type?

In [36]:
# Look at the values in the price feature to find out why it is typed as 
#   an object and not a float
amsterdam_list.price.value_counts()

$150.00    980
$100.00    839
$120.00    661
$200.00    597
$125.00    517
          ...
$513.00      1
$470.00      1
$410.00      1
$979.00      1
$569.00      1
Name: price, Length: 502, dtype: int64

In [37]:
# Need to remove the $ and the , from the price values and type as a float
amsterdam_list['price'] = amsterdam_list['price'].map(
    lambda x: x.lstrip('$').replace(',', '')).astype(float)

amsterdam_list['price'].dtype

dtype('float64')

* Need to add a new feature `shared_bath` for the ones that list as a shared bathroom. 

* Then clean the rest of the values so that there is only numerical data remaining.

In [38]:
# Look at the values in the bathrooms feature to find out why it is typed as
#   an object and not a float
amsterdam_list['bathrooms'].value_counts()

1 bath               10677
1.5 baths             3473
1 shared bath         1210
1 private bath        1043
2 baths                802
1.5 shared baths       466
2.5 baths              239
3 baths                 96
3.5 baths               43
Half-bath               39
0 baths                 38
Shared half-bath        32
2 shared baths          29
0 shared baths          15
4 baths                 13
Private half-bath       11
3 shared baths          10
3.5 shared baths         8
2.5 shared baths         6
4 shared baths           5
4.5 baths                4
8 baths                  3
5 baths                  2
6 baths                  2
5.5 baths                1
13 baths                 1
12 baths                 1
Name: bathrooms, dtype: int64

In [39]:
# Need to remove "shared" from the values but want to still be able to use this
#   as a feature (if shared or not), so add it as a new feature with bool values
amsterdam_list['shared_bath'] = amsterdam_list['bathrooms'
                                                     ].str.lower(
                                                      ).str.contains('shared')

# Check my work
# amsterdam_list[['bathrooms', 'shared_bath']].value_counts()

In [40]:
# Need to replace all "half-bath" with 0.5
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'].str.replace('half-bath', '0.5', case=False)

# Check my work
# amsterdam_list[['bathrooms', 'shared_bath']].value_counts()

In [41]:
# Now I can remove the text and return only the numerical values
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'
                                             ].str.extract('(\d*\.?\d*)')

amsterdam_list['bathrooms'].value_counts()

1      12930
1.5     3939
2        831
2.5      245
3        106
0         53
3.5       51
          43
0.5       39
4         18
4.5        4
8          3
6          2
5          2
5.5        1
13         1
12         1
Name: bathrooms, dtype: int64

In [42]:
# Replace null values with 0
amsterdam_list['bathrooms'].replace(['', np.nan], 0, inplace=True)

# Set the data type to a float
amsterdam_list['bathrooms'] = amsterdam_list['bathrooms'].astype(float)

# Format the float to display only one digit on the right of the decimal point
# amsterdam_list.style.format({'bathrooms': '{:.1f}'})
# amsterdam_list['bathrooms'] = ((amsterdam_list['bathrooms']*100).astype(int).astype(float))/100
amsterdam_list['bathrooms'] = np.trunc(100 * amsterdam_list['bathrooms']) / 100

# Look at the unique values in bathrooms now
print(f'Unique Values: ', amsterdam_list.bathrooms.unique())

# What is the data type now?
print(f'Data Type now: {amsterdam_list.bathrooms.dtype}')

Unique Values:  [ 1.5  1.   2.   0.   3.   2.5  3.5  4.   0.5  6.   8.   5.   4.5  5.5
 13.  12. ]
Data Type now: float64

In [43]:
# Look at all the data types again to see if there is anything that I missed
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          17994 non-null  object
 1   host_since           18228 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int32
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             17294 non-null  float64
 14  num_of_beds          18186 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     15659 non-null  float64
 26  accuracy_score       15649 non-null  float64
 27  cleanliness_score    15649 non-null  float64
 28  checkin_score        15641 non-null  float64
 29  communication_score  15648 non-null  float64
 30  location_score       15643 non-null  float64
 31  value_score          15643 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18269 non-null  object
dtypes: bool(5), datetime64[ns](1), float64(13), int32(1), int64(8), object(6)
memory usage: 4.1+ MB

In [44]:
# Need to make all null values throughout the dataset into 0 to avoid errors
#   when running my model. This should fix the data type of shared_bath and 
#   convert it into a bool data type by removing the null values
amsterdam_list = amsterdam_list.replace(np.nan, 0)

# Checking my work
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  float64
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int32
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  object
dtypes: bool(5), float64(14), int32(1), int64(8), object(6)
memory usage: 4.1+ MB

In [45]:
# Since that did not solve the issue of the data type for shared_bath, 
#   need to type it myself to a bool data type
amsterdam_list['shared_bath'] = amsterdam_list['shared_bath'].astype(bool)

# Check my work
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  float64
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int32
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  bool
dtypes: bool(6), float64(14), int32(1), int64(8), object(5)
memory usage: 3.9+ MB

* Last bit of EDA to complete is changin the `host_since` from date to number of years as a float value.

In [46]:
# Need to change host_since back to datetime, when I converted all nulls to 0,
#   this feature became a float data type
amsterdam_list['host_since'] = pd.to_datetime(amsterdam_list['host_since'], 
                                              yearfirst=True)

# Create a new feature with the date the data was collected
amsterdam_list['years_hosting'] = pd.to_datetime('02-08-2021', yearfirst=True)

amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   host_since           18291 non-null  datetime64[ns]
 2   superhost            18291 non-null  bool
 3   total_listings       18291 non-null  int32
 4   profile_pic          18291 non-null  bool
 5   verified_id          18291 non-null  bool
 6   neighborhood         18291 non-null  object
 7   latitude             18291 non-null  float64
 8   longitude            18291 non-null  float64
 9   property_type        18291 non-null  object
 10  room_type            18291 non-null  object
 11  accommodates         18291 non-null  int64
 12  bathrooms            18291 non-null  float64
 13  bedrooms             18291 non-null  float64
 14  num_of_beds          18291 non-null  float64
 15  amenities            18291 non-null  object
 16  price                18291 non-null  float64
 17  min_nights           18291 non-null  int64
 18  max_nights           18291 non-null  int64
 19  available            18291 non-null  bool
 20  avail_next_30_days   18291 non-null  int64
 21  avail_next_60_days   18291 non-null  int64
 22  avail_next_90_days   18291 non-null  int64
 23  avail_next_365_days  18291 non-null  int64
 24  num_of_reviews       18291 non-null  int64
 25  avg_review_score     18291 non-null  float64
 26  accuracy_score       18291 non-null  float64
 27  cleanliness_score    18291 non-null  float64
 28  checkin_score        18291 non-null  float64
 29  communication_score  18291 non-null  float64
 30  location_score       18291 non-null  float64
 31  value_score          18291 non-null  float64
 32  instant_bookable     18291 non-null  bool
 33  shared_bath          18291 non-null  bool
 34  years_hosting        18291 non-null  datetime64[ns]
dtypes: bool(6), datetime64[ns](2), float64(13), int32(1), int64(8), object(5)
memory usage: 4.1+ MB

In [47]:
# Change years_hosting from the date the data was collected to the years from
#   host_since to the data data was collected
amsterdam_list['years_hosting'] = (amsterdam_list['years_hosting'] - amsterdam_list['host_since']).dt.days/365

# Format the float to display only 2 digit on the right of the decimal point
amsterdam_list['years_hosting'] = round(amsterdam_list['years_hosting'], 2)

# # Other ways I tried and worked too to only display 2 digits on the right of the decimal point
# amsterdam_list['years_hosting'] = np.trunc(100 * amsterdam_list['years_hosting']) / 100
# amsterdam_list['years_hosting'] = [math.trunc(100 * val) / 100 for val in amsterdam_list['years_hosting']]

# Check my work
amsterdam_list.head()

,description,host_since,superhost,total_listings,profile_pic,verified_id,neighborhood,latitude,longitude,property_type,...,avg_review_score,accuracy_score,cleanliness_score,checkin_score,communication_score,location_score,value_score,instant_bookable,shared_bath,years_hosting
0,"Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the ""Indische Buurt"". Amsterdam’s...",2008-09-24,True,1,True,True,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room in apartment,...,98.0,10.0,10.0,10.0,10.0,9.0,10.0,True,True,12.38
1,"17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...",2009-12-02,False,2,True,True,Centrum-Oost,52.36509,4.89354,Private room in townhouse,...,89.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False,11.19
2,"Lovely apt in Centre ( lift & fireplace) near Jordaan<br /><br /><b>The space</b><br />This nicely furnished, newly renovated apt is very sunny, and spacious with 8 windows. The appliances are fairly new. There are two flat screen TVs, washing machine, dryer, dishwasher, laptop computer, Wi-fi,...",2009-11-20,True,2,True,False,Centrum-West,52.37297,4.88339,Entire apartment,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,False,False,11.23
3,"Stylish and romantic houseboat on fantastic historic location with breathtaking view. Wheelhouse, deckhouse and captains room. Central, quiet. Great breakfast, 2 vanMoof design bikes and a Canadian Canoe are included. Just read the reviews on tripadvisor for instance!<br /><br /><b>The space</b...",2010-03-23,True,1,True,True,Centrum-West,52.38761,4.89188,Private room in houseboat,...,99.0,10.0,10.0,10.0,10.0,10.0,10.0,True,False,10.89
4,"<b>The space</b><br />In a monumental house right in the center of Amsterdam, we offer two rooms (one single room and one double room) to visitors who want to enjoy the comfort of a home-like accommodation, plus being in the middle of the historic city center, close to all important museums, sho...",2010-05-13,True,2,True,True,Centrum-Oost,52.36610,4.88953,Private room in apartment,...,97.0,10.0,10.0,10.0,10.0,10.0,10.0,False,True,10.75

In [48]:
# Now that I can drop the host_since featrue, it is no longer needed
amsterdam_list = amsterdam_list.drop(columns='host_since')

# Check my work
print(amsterdam_list.shape)
amsterdam_list.head(2)

(18291, 34)

,description,superhost,total_listings,profile_pic,verified_id,neighborhood,latitude,longitude,property_type,room_type,...,avg_review_score,accuracy_score,cleanliness_score,checkin_score,communication_score,location_score,value_score,instant_bookable,shared_bath,years_hosting
0,"Quiet Garden View Room & Super Fast WiFi<br /><br /><b>The space</b><br />I'm renting a bedroom (room overlooking the garden) in my apartment in Amsterdam, <br /><br />The room is located to the east of the city centre in a quiet, typical Amsterdam neighbourhood the ""Indische Buurt"". Amsterdam’s...",True,1,True,True,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room in apartment,Private room,...,98.0,10.0,10.0,10.0,10.0,9.0,10.0,True,True,12.38
1,"17th century Dutch townhouse in the heart of the city. no public transport needed! Located a stones throw from Rembrandt Square, Dam Square, Leidse Square and Flower Market. Walking distance from Central Station.<br />Comfortable, cosy, lockable studio with comfortable bed and with private bathr...",False,2,True,True,Centrum-Oost,52.36509,4.89354,Private room in townhouse,Private room,...,89.0,10.0,10.0,10.0,10.0,10.0,9.0,True,False,11.19

#### Group Features

In [49]:
# Look at all the current features
amsterdam_list.columns

Index(['description', 'superhost', 'total_listings', 'profile_pic',
       'verified_id', 'neighborhood', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'num_of_beds',
       'amenities', 'price', 'min_nights', 'max_nights', 'available',
       'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days',
       'avail_next_365_days', 'num_of_reviews', 'avg_review_score',
       'accuracy_score', 'cleanliness_score', 'checkin_score',
       'communication_score', 'location_score', 'value_score',
       'instant_bookable', 'shared_bath', 'years_hosting'],
      dtype='object')

In [50]:
# Look at all the current data types 
amsterdam_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   description          18291 non-null  object
 1   superhost            18291 non-null  bool
 2   total_listings       18291 non-null  int32
 3   profile_pic          18291 non-null  bool
 4   verified_id          18291 non-null  bool
 5   neighborhood         18291 non-null  object
 6   latitude             18291 non-null  float64
 7   longitude            18291 non-null  float64
 8   property_type        18291 non-null  object
 9   room_type            18291 non-null  object
 10  accommodates         18291 non-null  int64
 11  bathrooms            18291 non-null  float64
 12  bedrooms             18291 non-null  float64
 13  num_of_beds          18291 non-null  float64
 14  amenities            18291 non-null  object
 15  price                18291 non-null  float64
 16  min_nights           18291 non-null  int64
 17  max_nights           18291 non-null  int64
 18  available            18291 non-null  bool
 19  avail_next_30_days   18291 non-null  int64
 20  avail_next_60_days   18291 non-null  int64
 21  avail_next_90_days   18291 non-null  int64
 22  avail_next_365_days  18291 non-null  int64
 23  num_of_reviews       18291 non-null  int64
 24  avg_review_score     18291 non-null  float64
 25  accuracy_score       18291 non-null  float64
 26  cleanliness_score    18291 non-null  float64
 27  checkin_score        18291 non-null  float64
 28  communication_score  18291 non-null  float64
 29  location_score       18291 non-null  float64
 30  value_score          18291 non-null  float64
 31  instant_bookable     18291 non-null  bool
 32  shared_bath          18291 non-null  bool
 33  years_hosting        18291 non-null  float64
dtypes: bool(6), float64(14), int32(1), int64(8), object(5)
memory usage: 3.9+ MB

In [51]:
# Seperate out my target feature
y = amsterdam_list['price']

# Group all text features for NLP preprocessing
txt_features = ['description', 'neighborhood', 'property_type', 'room_type', 
                'amenities']

# Group all numeric features
num_feat = ['total_listings', 'latitude', 'longitude', 'accommodates', 
            'bathrooms', 'bedrooms', 'num_of_beds', 'min_nights', 'max_nights', 
            'avail_next_30_days', 'avail_next_60_days', 'avail_next_90_days', 
            'avail_next_365_days', 'num_of_reviews', 'avg_review_score', 
            'accuracy_score', 'cleanliness_score', 'checkin_score', 
            'communication_score', 'location_score', 'value_score', 
            'years_hosting']

# Group all bool features
bool_feat = ['superhost', 'profile_pic', 'verified_id', 'available', 
             'instant_bookable', 'shared_bath']

In [52]:
# Save a csv file with only the text features for use in another notebook
# # If running on Google Colab, use this code:
# amsterdam_list[txt_features].to_csv('amsterdam_txt_feat.csv', index=False)
# If running locally as clone of the repo, use this code:
amsterdam_list[txt_features].to_csv('../data/amsterdam_txt_feat.csv', index=False)

# Save a csv file with only the numeric features for use in another notebook
# # If running on Google Colab, use this code:
# amsterdam_list[num_feat].to_csv('amsterdam_num_feat.csv', index=False)
# If running locally as clone of the repo, use this code:
amsterdam_list[num_feat].to_csv('../data/amsterdam_num_feat.csv', index=False)

# Save a csv file with only the boolean features for use in another notebook
# # If running on Google Colab, use this code:
# amsterdam_list[bool_feat].to_csv('amsterdam_bool_feat.csv', index=False)
# If running locally as clone of the repo, use this code:
amsterdam_list[bool_feat].to_csv('../data/amsterdam_bool_feat.csv', index=False)

# Save a csv file with the complete cleaned dataset for use in another notebook
# # If running on Google Colab, use this code:
# amsterdam_list.to_csv('amsterdam_list_clean.csv', index=False)
# If running locally as clone of the repo, use this code:
amsterdam_list.to_csv('../data/amsterdam_list_clean.csv', index=False)

#### Links to Raw Cleaned Files

[Text Features Only](https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/amsterdam_txt_feat.csv)

[Numeric Features Only](https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/amsterdam_num_feat.csv)

[Boolean Features Only](https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/amsterdam_bool_feat.csv)

[Cleaned with All Features](https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/amsterdam_list_clean.csv)

#### NLP Preprocessing

I will be doing this in another notebook to avoid having a notebook that is too large.

[My NLP Notebook](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/notebooks/BW4_Airbnb_NLP_Notebook.ipynb)

#### Model

I will be creating a model in a seperate notebook to avoid having a notebook that is too large and to keep everything organized.

[My Model Notebook](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/notebooks/BW4_Airbnb_Model_Notebook.ipynb)

## Amsterdam Detailed Reviews

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_reviews.csv)

In [53]:
# # If running on Google Colab, need to upload the dataset, and use this code:
# amsterdam_detailed_rev = pd.read_csv('Amsterdam_detailed_reviews.csv', compression='gzip',
#                                   error_bad_lines=False)
# If running locally from cloned repo, use this code:
amsterdam_detailed_rev = pd.read_csv('../data/Amsterdam_detailed_reviews.csv', compression='gzip',
                                  error_bad_lines=False)

print(amsterdam_detailed_rev.shape)
amsterdam_detailed_rev.head(10)

(441274, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and clean. Very quiet neighborhood. He had maps and a lonely planet guide book in the room for you to use. I didnt have any trouble finding the place from Central Station. I would defintely come back! Thanks!
1,2818,1771,2009-04-24,12798,Alice,"Daniel is the most amazing host! His place is extremely clean, and he provides everything you could possibly want (comfy bed, guidebooks & maps, mini-fridge, towels, even toiletries). He is extremely friendly and helpful, and will go out of his way to help you if needed, or just let you come and..."
2,2818,1989,2009-05-03,11869,Natalja,"We had such a great time in Amsterdam. Daniel is an excellent host! Very friendly and everytime helpful. The room was cozy, comfortable, and VERY clean. Maps, towels, mini-fridge, coffee (very tasty) and tea supplies were provided. Bathroom with all the bathroom requires. Good location - next to..."
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clean and comfortable. Location is close to tram or bus which take you to most of attractions. A great and helpful host who want to ensure you enjoy your stay.
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all necessities (and actually went way beyond what's expected of a great host). His place is very clean. It is also convenient to buses and trams which will take you around the city in minutes. You will truly feel like a local here.
5,2818,4748,2009-06-29,20192,Jie,"Daniel was a great host! He made everything so easy for us! The room was super clean and well equipped, the beds were very comfortable! Daniel also gave us good advices, tips and tools (maps, compass, umbrella..) for getting around the city. The place is located in the quiet neighbourhood so we..."
6,2818,5202,2009-07-07,23055,Vanessa,Daniele is an amazing host! He provided everything that was needed to make our stay comfortable and easy! The rooms were clean and cozy; and he took the time to show us how to get around Amsterdam via public transportation or riding around on bicycles. You truly do feel like a local when staying...
7,2818,9131,2009-09-06,26343,Katja,"You can´t have a nicer start in Amsterdam. Daniel is such a great and welcoming host. The room was really light and charming, so well decorated. Daniel has a great sense of hospitality, he even helped with our luggage and gave us maps and a travelguide. He´s very open minded and helpful. We had ..."
8,2818,12103,2009-10-01,40999,Marie-Eve,"Daniel was a fantastic host. His place is calm and clean, and he provided so much information on how to enjoy the amazing city of Amsterdam. Should I return to the city, his place will be my first choice!"
9,2818,16196,2009-11-04,38623,Graham,Daniel was great. He couldn.t do enough for us. He has gone to a lot of trouble and added every little touch to his apartment. He can speak 5 languages so that should not be a problem for anyone.\r\nThe accomation had everything we needed and was very convienient to the bus and tram.

* Not really sure if this data will really help. I will circle back to this one if I have time but for now I will not be working with this data because I believe I will have enough data in the detailed listings to get a good prediction.

* My thinking on trying this data was that it might include some keywords that would help to better predict the optimal price but after going through all the data in the detailed listings, I believe this data is not really necessary unless I have extra time to work with it.