# AirBnB Build Week Project

#### Source for data:
[Inside AirBnB](http://insideairbnb.com/get-the-data.html)

## Imports

In [36]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', 300)

## Amsterdam Calander Dataset

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_calendar.csv)

- Determine if this data will be helpful or can be found in another dataset with more information.

In [37]:
# amsterdam_cal = pd.read_csv('Amsterdam_calendar.csv', compression='gzip')
# 
print(amsterdam_cal.shape# )
amsterdam_cal.head(10)

(6676319, 7)

   listing_id        date  ... minimum_nights maximum_nights
0        2818  2021-02-11  ...            3.0         1125.0
1      415619  2021-02-10  ...            2.0           30.0
2      415619  2021-02-11  ...            2.0           30.0
3      415619  2021-02-12  ...            2.0           30.0
4      415619  2021-02-13  ...            2.0           30.0
5      415619  2021-02-14  ...            2.0           30.0
6      415619  2021-02-15  ...            2.0           30.0
7      415619  2021-02-16  ...            2.0           30.0
8      415619  2021-02-17  ...            2.0           30.0
9      415619  2021-02-18  ...            2.0           30.0

[10 rows x 7 columns]

* Do not think this dataset will hold any real value for this project. Have data like this in another dataset. Probably not going to use this one but will keep it on hand for now.

## Amsterdam Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_listings.csv)

- Want to compare this dataset to the detailed one to see if this would be enough data or not.

In [38]:
# raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'
# 
amsterdam_listing = pd.read_csv(raw_amsterdam_listing)# 

print(amsterdam_listing.sha# pe)
amsterdam_listing.head()

(18291, 16)

      id  ... availability_365
0   2818  ...              139
1  20168  ...                0
2  25428  ...              251
3  27886  ...              136
4  28871  ...              338

[5 rows x 16 columns]

In [39]:
# # Look at a list of all the features in this dataset# 
amsterdam_listing.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [40]:
# # What values are in the neighbourhood_group?# 
amsterdam_listing['neighbourhood_group'].value_counts()

Series([], Name: neighbourhood_group, dtype: int64)

In [41]:
# # Remove the neighbourhood_group feature --> nothing but NaNs# 
amsterdam_listing = amsterdam_listing.drop('neighbourhood_group', axis=1)# 

# Check my wo# rk
amsterdam_listing.head()

      id  ... availability_365
0   2818  ...              139
1  20168  ...                0
2  25428  ...              251
3  27886  ...              136
4  28871  ...              338

[5 rows x 15 columns]

In [42]:
# # Look for NaN values# 
amsterdam_listing.isnull().sum()

id                                   0
name                                33
host_id                              0
host_name                           63
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2389
reviews_per_month                 2389
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [43]:
# # Look at a summary of the numerical data# 
amsterdam_listing.describe(include=[np.number])

                 id  ...  availability_365
count  1.829100e+04  ...      18291.000000
mean   2.064229e+07  ...         61.923132
std    1.285836e+07  ...        115.602325
min    2.818000e+03  ...          0.000000
25%    1.010732e+07  ...          0.000000
50%    1.911168e+07  ...          0.000000
75%    3.039472e+07  ...         78.000000
max    4.807786e+07  ...        365.000000

[8 rows x 10 columns]

In [44]:
# # Look at a summary of the non-numerical values# 
amsterdam_listing.describe(exclude=[np.number])

             name host_name  ...        room_type last_review
count       18258     18228  ...            18291       15902
unique      17863      5541  ...                4        1833
top     Amsterdam   Martijn  ...  Entire home/apt  2020-01-02
freq           31       152  ...            14283         259

[4 rows x 5 columns]

* Believe the detailed dataset will be more useful for this project due to the lack of features I believe will be useful for predictions.

## Amsterdam Detailed Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_listings.csv)

- Explore this dataset to find out if this detailed data is going to be more helpful then the compressed listings.

In [8]:
import pandas as pd
import numpy as np

# amsterdam_detailed_listing = pd.read_csv('Amsterdam_detailed_listings.csv',  compression='gzip')
amsterdam_detailed_listing = pd.read_csv('E:\Amsterdam_detailed_listings.csv', compression='gzip')


print(amsterdam_detailed_listing.shape)
amsterdam_detailed_listing.head(5)

(18291, 74)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20210208155251,2021-02-11,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.92
1,20168,https://www.airbnb.com/rooms/20168,20210208155251,2021-02-11,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,NaN,t,2,0,2,0,2.54
2,25428,https://www.airbnb.com/rooms/25428,20210208155251,2021-02-10,"Lovely, spacious 1 bed apt in Center(with lift)",Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,20210208155251,2021-02-11,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,NaN,t,1,0,1,0,1.98
4,28871,https://www.airbnb.com/rooms/28871,20210208155251,2021-02-10,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,NaN,f,2,0,2,0,2.63

In [9]:
# Look at all of the feature names
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [11]:
amsterdam_detailed_listing[['neighbourhood', 'neighborhood_overview']].sample(5)

,neighbourhood,neighborhood_overview
4739,"Amsterdam, Noord-Holland, Netherlands",The unique selling point of the studio is the ...
1179,"Amsterdam, North Holland, Netherlands",The apartment is located in the east side of A...
15163,"Amsterdam, Noord-Holland, Netherlands",Generator Amsterdam is perfectly placed betwee...
14345,"Amsterdam, Noord-Holland, Netherlands",The Frederik Hendrik neighbourhood is a crossr...
16701,"Amsterdam, Noord-Holland, Netherlands",few min walking and you will be in the westerp...

In [12]:
amsterdam_detailed_listing[['minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm']].sample(5)

,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
14960,2,4,2.0,2.0,4.0,4.0,2.0,4.0
15239,7,21,7.0,7.0,21.0,21.0,7.0,21.0
13723,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0
15927,4,1125,4.0,4.0,1125.0,1125.0,4.0,1125.0
8675,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0

In [13]:
amsterdam_detailed_listing[['calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month']].sample(5)

,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1545,1,1,0,0,0.15
4244,1,1,0,0,0.28
16050,1,1,0,0,0.56
6743,3,0,3,0,0.42
1173,5,0,5,0,0.80

In [14]:
amsterdam_detailed_listing[['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value']].sample(5)

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
12368,87.0,10.0,9.0,10.0,10.0,9.0,8.0
15360,93.0,9.0,10.0,9.0,10.0,10.0,9.0
12292,100.0,10.0,10.0,10.0,9.0,9.0,9.0
2093,97.0,10.0,10.0,10.0,10.0,10.0,10.0
294,96.0,10.0,10.0,10.0,10.0,10.0,9.0

In [15]:
# Is there any NaN values?
amsterdam_detailed_listing.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
name                                              33
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               2389
Length: 74, dtype: int64

In [16]:
amsterdam_detailed_listing.description.sample(5)

8780     Nice and comfortable apartment (74m2) located ...
16546    Airy 2 Bedroom, 2 Bathroom First Floor Apartme...
3455     * GREAT LOCATION IN AN UPCOMING AREA<br />*EAS...
15503    This beautiful studio with garden view in a fa...
1537     Beautiful apartment in the center of Amsterdam...
Name: description, dtype: object

In [17]:
amsterdam_detailed_listing.name.sample(5)

7893     Deluxe studio close to C.S. with private entrance
14240         Cosy houseboat studio in the old city center
12948       Apartment with an amazing view over the Amstel
3803                   Authentic Amsterdam Zuid Appartment
17707    â˜… Luxurious & stunning  boutique apartment wit...
Name: name, dtype: object

In [18]:
amsterdam_detailed_listing.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.829100e+04,1.829100e+04,1.829100e+04,18228.000000,18228.000000,0.0,18291.000000,18291.000000,18291.000000,0.0,...,15641.000000,15648.000000,15643.000000,15643.000000,0.0,18291.000000,18291.000000,18291.000000,18291.000000,15902.000000
mean,2.064229e+07,2.021021e+13,6.705998e+07,3.244459,3.244459,NaN,52.365478,4.889504,2.837570,NaN,...,9.750911,9.794926,9.513456,9.202071,NaN,2.647477,2.111366,0.476628,0.009404,0.591448
std,1.285836e+07,7.129101e+00,8.666877e+07,56.575963,56.575963,NaN,0.016559,0.035833,1.282434,NaN,...,0.659262,0.636390,0.705519,0.832326,NaN,8.724302,8.545412,1.457147,0.153398,1.065085
min,2.818000e+03,2.021021e+13,3.159000e+03,0.000000,0.000000,NaN,52.289270,4.755940,0.000000,NaN,...,2.000000,2.000000,2.000000,2.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.010732e+07,2.021021e+13,9.282300e+06,1.000000,1.000000,NaN,52.355100,4.863920,2.000000,NaN,...,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.130000
50%,1.911168e+07,2.021021e+13,2.810956e+07,1.000000,1.000000,NaN,52.364790,4.887010,2.000000,NaN,...,10.000000,10.000000,10.000000,9.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.280000
75%,3.039472e+07,2.021021e+13,8.650474e+07,1.000000,1.000000,NaN,52.375370,4.909230,4.000000,NaN,...,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.580000
max,4.807786e+07,2.021021e+13,3.871652e+08,7235.000000,7235.000000,NaN,52.425120,5.027690,16.000000,NaN,...,10.000000,10.000000,10.000000,10.000000,NaN,85.000000,84.000000,21.000000,5.000000,35.530000

In [19]:
amsterdam_detailed_listing.describe(exclude=[np.number])

,listing_url,last_scraped,name,description,neighborhood_overview,picture_url,host_url,host_name,host_since,host_location,...,property_type,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,instant_bookable
count,18291,18291,18258,17994,12023,18291,18291,18228,18228,18199,...,18291,18291,18269,18291,18291,18291,18291,15902,15902,18291
unique,18291,4,17863,17793,10954,18108,15802,5541,3268,534,...,65,4,27,16744,502,2,4,2598,1833,2
top,https://www.airbnb.com/rooms/17329412,2021-02-09,Amsterdam,Hotel Jansen is a new Short Stay hotel in Amst...,Oud West is close to the city-centre and close...,https://a0.muscache.com/pictures/26bd7fc8-eab0...,https://www.airbnb.com/users/show/1464510,Martijn,2016-04-05,"Amsterdam, North Holland, Netherlands",...,Entire apartment,Entire home/apt,1 bath,"[""Long term stays allowed""]",$150.00,t,2021-02-09,2016-03-30,2020-01-02,f
freq,1,7486,31,13,36,4,85,152,88,10046,...,11393,14283,10677,45,980,17889,7486,65,259,13914

In [20]:
cols_to_keep = ['id', 'name', 'description', 'price', 'neighbourhood', 
                'neighborhood_overview', 'latitude', 'longitude', 'picture_url', 
                'property_type', 'room_type', 'bathrooms_text', 'accommodates', 
                'bedrooms', 'beds', 'amenities', 'minimum_nights', 
                'maximum_nights', 'has_availability', 'availability_30', 
                'availability_60', 'availability_90', 'availability_365', 
                'instant_bookable', 'host_listings_count', 'host_response_time', 
                'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 
                'host_has_profile_pic', 'host_identity_verified', 
                'number_of_reviews', 'review_scores_rating', 
                'review_scores_accuracy', 'review_scores_cleanliness', 
                'review_scores_checkin', 'review_scores_communication', 
                'review_scores_location', 'review_scores_value', 
                'reviews_per_month']

amsterdam_cleaned = pd.DataFrame(amsterdam_detailed_listing[cols_to_keep])

amsterdam_cleaned.head()

,id,name,description,price,neighbourhood,neighborhood_overview,latitude,longitude,picture_url,property_type,...,host_identity_verified,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,2818,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,$59.00,"Amsterdam, North Holland, Netherlands","Indische Buurt (""Indies Neighborhood"") is a ne...",52.36575,4.94142,https://a0.muscache.com/pictures/10272854/8dcc...,Private room in apartment,...,t,278,98.0,10.0,10.0,10.0,10.0,9.0,10.0,1.92
1,20168,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,$129.00,"Amsterdam, North Holland, Netherlands",Located just in between famous central canals....,52.36509,4.89354,https://a0.muscache.com/pictures/69979628/fd6a...,Private room in townhouse,...,t,339,89.0,10.0,10.0,10.0,10.0,10.0,9.0,2.54
2,25428,"Lovely, spacious 1 bed apt in Center(with lift)",Lovely apt in Centre ( lift & fireplace) near ...,$125.00,NaN,NaN,52.37297,4.88339,https://a0.muscache.com/pictures/138431/7079a9...,Entire apartment,...,f,5,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.13
3,27886,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,$125.00,"Amsterdam, North Holland, Netherlands","Central, quiet, safe, clean and beautiful.",52.38761,4.89188,https://a0.muscache.com/pictures/02c2da9d-660e...,Private room in houseboat,...,t,219,99.0,10.0,10.0,10.0,10.0,10.0,10.0,1.98
4,28871,Comfortable double room,<b>The space</b><br />In a monumental house ri...,$75.00,"Amsterdam, North Holland, Netherlands","Flower market , Leidseplein , Rembrantsplein",52.36610,4.88953,https://a0.muscache.com/pictures/160889/362340...,Private room in apartment,...,t,336,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2.63

In [21]:
cols_to_rename = {'neighbourhood': 'neighborhood', 
                'neighborhood_overview': 'neighborhood_overview', 
                'bathrooms_text': 'bathrooms', 
                'beds': 'num_of_beds', 
                'minimum_nights': 'min_nights', 
                'maximum_nights': 'max_nights', 
                'has_availability': 'available', 
                'number_of_reviews': 'num_of_reviews', 
                'review_scores_rating': 'rating_score', 
                'review_scores_accuracy': 'accuracy', 
                'review_scores_cleanliness': 'cleanliness', 
                'review_scores_checkin': 'check_in_score', 
                'review_scores_communication': 'communication', 
                'review_scores_location': 'location_score', 
                'review_scores_value': 'value_score'}

amsterdam_cleaned = amsterdam_cleaned.rename(columns=cols_to_rename)

amsterdam_cleaned.head()

,id,name,description,price,neighborhood,neighborhood_overview,latitude,longitude,picture_url,property_type,...,host_identity_verified,num_of_reviews,rating_score,accuracy,cleanliness,check_in_score,communication,location_score,value_score,reviews_per_month
0,2818,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,$59.00,"Amsterdam, North Holland, Netherlands","Indische Buurt (""Indies Neighborhood"") is a ne...",52.36575,4.94142,https://a0.muscache.com/pictures/10272854/8dcc...,Private room in apartment,...,t,278,98.0,10.0,10.0,10.0,10.0,9.0,10.0,1.92
1,20168,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,$129.00,"Amsterdam, North Holland, Netherlands",Located just in between famous central canals....,52.36509,4.89354,https://a0.muscache.com/pictures/69979628/fd6a...,Private room in townhouse,...,t,339,89.0,10.0,10.0,10.0,10.0,10.0,9.0,2.54
2,25428,"Lovely, spacious 1 bed apt in Center(with lift)",Lovely apt in Centre ( lift & fireplace) near ...,$125.00,NaN,NaN,52.37297,4.88339,https://a0.muscache.com/pictures/138431/7079a9...,Entire apartment,...,f,5,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.13
3,27886,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,$125.00,"Amsterdam, North Holland, Netherlands","Central, quiet, safe, clean and beautiful.",52.38761,4.89188,https://a0.muscache.com/pictures/02c2da9d-660e...,Private room in houseboat,...,t,219,99.0,10.0,10.0,10.0,10.0,10.0,10.0,1.98
4,28871,Comfortable double room,<b>The space</b><br />In a monumental house ri...,$75.00,"Amsterdam, North Holland, Netherlands","Flower market , Leidseplein , Rembrantsplein",52.36610,4.88953,https://a0.muscache.com/pictures/160889/362340...,Private room in apartment,...,t,336,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2.63

In [22]:
amsterdam_cleaned.describe(exclude=[np.number])

,name,description,price,neighborhood,neighborhood_overview,picture_url,property_type,room_type,bathrooms,amenities,available,instant_bookable,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified
count,18258,17994,18291,12023,12023,18291,18291,18291,18269,18291,18291,18291,3937,3937,7796,18228,18228,18228
unique,17863,17793,502,67,10954,18108,65,4,27,16744,2,2,4,50,89,2,2,2
top,Amsterdam,Hotel Jansen is a new Short Stay hotel in Amst...,$150.00,"Amsterdam, Noord-Holland, Netherlands",Oud West is close to the city-centre and close...,https://a0.muscache.com/pictures/26bd7fc8-eab0...,Entire apartment,Entire home/apt,1 bath,"[""Long term stays allowed""]",t,f,within an hour,100%,100%,f,t,t
freq,31,13,980,9534,36,4,11393,14283,10677,45,17889,13914,1800,2794,3638,15849,18199,11918

In [23]:
bool_cols = ['available', 'instant_bookable', 'host_is_superhost', 
             'host_has_profile_pic', 'host_identity_verified']

amsterdam_cleaned[bool_cols] = amsterdam_cleaned[bool_cols].replace({'t': 1, 'f': 0})

amsterdam_cleaned.describe()

,id,latitude,longitude,accommodates,bedrooms,num_of_beds,min_nights,max_nights,available,availability_30,...,host_identity_verified,num_of_reviews,rating_score,accuracy,cleanliness,check_in_score,communication,location_score,value_score,reviews_per_month
count,1.829100e+04,18291.000000,18291.000000,18291.000000,17294.000000,18186.000000,18291.000000,18291.000000,18291.000000,18291.000000,...,18228.000000,18291.000000,15659.000000,15649.000000,15649.000000,15641.000000,15648.000000,15643.000000,15643.000000,15902.000000
mean,2.064229e+07,52.365478,4.889504,2.837570,1.534405,1.765259,3.727407,611.559565,0.978022,5.950467,...,0.653829,24.125198,95.107287,9.690907,9.457857,9.750911,9.794926,9.513456,9.202071,0.591448
std,1.285836e+07,0.016559,0.035833,1.282434,0.959211,1.444775,16.331468,545.438112,0.146616,11.195839,...,0.475761,54.560889,7.035600,0.728646,0.914985,0.659262,0.636390,0.705519,0.832326,1.065085
min,2.818000e+03,52.289270,4.755940,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.010000
25%,1.010732e+07,52.355100,4.863920,2.000000,1.000000,1.000000,2.000000,21.000000,1.000000,0.000000,...,0.000000,2.000000,93.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,0.130000
50%,1.911168e+07,52.364790,4.887010,2.000000,1.000000,1.000000,2.000000,1125.000000,1.000000,0.000000,...,1.000000,8.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,0.280000
75%,3.039472e+07,52.375370,4.909230,4.000000,2.000000,2.000000,3.000000,1125.000000,1.000000,0.000000,...,1.000000,22.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,0.580000
max,4.807786e+07,52.425120,5.027690,16.000000,50.000000,35.000000,1001.000000,11250.000000,1.000000,30.000000,...,1.000000,859.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,35.530000

In [24]:
amsterdam_cleaned.dtypes

id                          int64
name                       object
description                object
price                      object
neighborhood               object
neighborhood_overview      object
latitude                  float64
longitude                 float64
picture_url                object
property_type              object
room_type                  object
bathrooms                  object
accommodates                int64
bedrooms                  float64
num_of_beds               float64
amenities                  object
min_nights                  int64
max_nights                  int64
available                   int64
availability_30             int64
availability_60             int64
availability_90             int64
availability_365            int64
instant_bookable            int64
host_listings_count       float64
host_response_time         object
host_response_rate         object
host_acceptance_rate       object
host_is_superhost         float64
host_has_profile_pic      float64
host_identity_verified    float64
num_of_reviews              int64
rating_score              float64
accuracy                  float64
cleanliness               float64
check_in_score            float64
communication             float64
location_score            float64
value_score               float64
reviews_per_month         float64
dtype: object

In [25]:
amsterdam_cleaned.price.value_counts()

$150.00    980
$100.00    839
$120.00    661
$200.00    597
$125.00    517
          ...
$458.00      1
$351.00      1
$361.00      1
$402.00      1
$366.00      1
Name: price, Length: 502, dtype: int64

In [26]:
amsterdam_cleaned['price'] = amsterdam_cleaned['price'].map(lambda x: x.lstrip('$').replace(',', '')).astype(float)

amsterdam_cleaned['price'].values

array([ 59., 129., 125., ..., 250.,  55., 112.])

In [27]:
amsterdam_cleaned.dtypes

id                          int64
name                       object
description                object
price                     float64
neighborhood               object
neighborhood_overview      object
latitude                  float64
longitude                 float64
picture_url                object
property_type              object
room_type                  object
bathrooms                  object
accommodates                int64
bedrooms                  float64
num_of_beds               float64
amenities                  object
min_nights                  int64
max_nights                  int64
available                   int64
availability_30             int64
availability_60             int64
availability_90             int64
availability_365            int64
instant_bookable            int64
host_listings_count       float64
host_response_time         object
host_response_rate         object
host_acceptance_rate       object
host_is_superhost         float64
host_has_profile_pic      float64
host_identity_verified    float64
num_of_reviews              int64
rating_score              float64
accuracy                  float64
cleanliness               float64
check_in_score            float64
communication             float64
location_score            float64
value_score               float64
reviews_per_month         float64
dtype: object

In [28]:
amsterdam_cleaned['bathrooms'].value_counts()

1 bath               10677
1.5 baths             3473
1 shared bath         1210
1 private bath        1043
2 baths                802
1.5 shared baths       466
2.5 baths              239
3 baths                 96
3.5 baths               43
Half-bath               39
0 baths                 38
Shared half-bath        32
2 shared baths          29
0 shared baths          15
4 baths                 13
Private half-bath       11
3 shared baths          10
3.5 shared baths         8
2.5 shared baths         6
4 shared baths           5
4.5 baths                4
8 baths                  3
6 baths                  2
5 baths                  2
5.5 baths                1
13 baths                 1
12 baths                 1
Name: bathrooms, dtype: int64

In [29]:
# amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].copy()

# amsterdam_cleaned['shared_bath'] = [0] * len(amsterdam_cleaned)

# for i in range(len(amsterdam_cleaned.bathrooms)):
#     for val in amsterdam_cleaned.bathrooms[i]:
#         if 'shared' in val.lower():
#             amsterdam_cleaned.shared_bath[val] = 1
#         else:
#             amsterdam_cleaned.shared_bath[val] = 0

# amsterdam_cleaned['shared_bath'] = [1 if 'shared' in val == True else 0 for val in amsterdam_cleaned['bathrooms']]

# amsterdam_cleaned['shared_bath'][amsterdam_cleaned['bathrooms'].str.contains('shared')] = 1
# amsterdam_cleaned['shared_bath'][amsterdam_cleaned['bathrooms'].str.contains('Shared')] = 1

# amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].map(lambda x: 't' if x.str.contains('shared') or x.str.contains('Shared') else 'f')

# if amsterdam_cleaned['shared_bath'].str.contains('shared').any() or amsterdam_cleaned['shared_bath'].str.contains('Shared').any():
#     amsterdam_cleaned['shared_bath'] = True

# else:
#     amsterdam_cleaned['shared_bath'] = False

amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].str.lower().str.contains('shared')

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

           bathrooms shared_bath
1725          1 bath       False
40            1 bath       False
13198  1 shared bath        True
5233          1 bath       False
17595         1 bath       False
6962   1 shared bath        True
12033         1 bath       False
6860          1 bath       False
3515          1 bath       False
14856        2 baths       False

In [30]:
amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['shared_bath'].map(lambda x: 1 if x == True else 0)

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

            bathrooms  shared_bath
7635           1 bath            0
10920  1 private bath            0
1609           1 bath            0
8616    1 shared bath            1
13393   1 shared bath            1
10378          1 bath            0
10124          1 bath            0
5691           1 bath            0
12547          1 bath            0
4614           1 bath            0

In [31]:
amsterdam_cleaned['bathrooms'] = amsterdam_cleaned['bathrooms'].str.replace('half-bath', '0.5', case=False)

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

              bathrooms  shared_bath
17614         1.5 baths            0
16886  1.5 shared baths            1
16619            1 bath            0
4517             1 bath            0
81               1 bath            0
13441     1 shared bath            1
16775            1 bath            0
5261             1 bath            0
11439            1 bath            0
15564         1.5 baths            0

In [32]:
amsterdam_cleaned['bathrooms'].value_counts()

1 bath              10677
1.5 baths            3473
1 shared bath        1210
1 private bath       1043
2 baths               802
1.5 shared baths      466
2.5 baths             239
3 baths                96
3.5 baths              43
0.5                    39
0 baths                38
Shared 0.5             32
2 shared baths         29
0 shared baths         15
4 baths                13
Private 0.5            11
3 shared baths         10
3.5 shared baths        8
2.5 shared baths        6
4 shared baths          5
4.5 baths               4
8 baths                 3
6 baths                 2
5 baths                 2
5.5 baths               1
12 baths                1
13 baths                1
Name: bathrooms, dtype: int64

In [33]:
amsterdam_cleaned['bathrooms'] = amsterdam_cleaned['bathrooms'].str.extract('(\d*\.?\d*)')

amsterdam_cleaned['bathrooms'].value_counts()

1      12930
1.5     3939
2        831
2.5      245
3        106
0         53
3.5       51
          43
0.5       39
4         18
4.5        4
8          3
6          2
5          2
13         1
12         1
5.5        1
Name: bathrooms, dtype: int64

In [34]:
amsterdam_cleaned['bathrooms'].dtype

dtype('O')

In [35]:
amsterdam_cleaned['bathrooms'].unique()

array(['1.5', '1', '2', nan, '3', '0', '', '2.5', '3.5', '4', '0.5', '6',
       '8', '5', '4.5', '5.5', '13', '12'], dtype=object)

In [49]:
amsterdam_cleaned['bathrooms'].replace(['', np.nan], 0, inplace=True)

amsterdam_cleaned['bathrooms'] = amsterdam_cleaned['bathrooms'].astype(float)

# amsterdam_cleaned['bathrooms'] = np.round()
amsterdam_cleaned.style.format({'bathrooms': '{:.1f}'})

amsterdam_cleaned['bathrooms'].unique()

array([ 1.5,  1. ,  2. ,  0. ,  3. ,  2.5,  3.5,  4. ,  0.5,  6. ,  8. ,
        5. ,  4.5,  5.5, 13. , 12. ])

In [50]:
amsterdam_cleaned.dtypes

id                          int64
name                       object
description                object
price                     float64
neighborhood               object
neighborhood_overview      object
latitude                  float64
longitude                 float64
picture_url                object
property_type              object
room_type                  object
bathrooms                 float64
accommodates                int64
bedrooms                  float64
num_of_beds               float64
amenities                  object
min_nights                  int64
max_nights                  int64
available                   int64
availability_30             int64
availability_60             int64
availability_90             int64
availability_365            int64
instant_bookable            int64
host_listings_count       float64
host_response_time         object
host_response_rate         object
host_acceptance_rate       object
host_is_superhost         float64
host_has_profile_pic      float64
host_identity_verified    float64
num_of_reviews              int64
rating_score              float64
accuracy                  float64
cleanliness               float64
check_in_score            float64
communication             float64
location_score            float64
value_score               float64
reviews_per_month         float64
shared_bath                 int64
dtype: object

In [52]:
amsterdam_cleaned[['host_response_time', 'host_response_rate', 'host_acceptance_rate']].sample(10)

       host_response_time host_response_rate host_acceptance_rate
15283                 NaN                NaN                  NaN
18025      within an hour               100%                 100%
14887                 NaN                NaN                  NaN
3415                  NaN                NaN                  NaN
13541                 NaN                NaN                  NaN
15506                 NaN                NaN                  NaN
520          within a day                50%                  50%
11495                 NaN                NaN                 100%
14567                 NaN                NaN                 100%
17742  a few days or more                41%                  98%

In [56]:
amsterdam_cleaned[['host_response_time', 'host_response_rate', 'host_acceptance_rate']].replace('NaN', 0, inplace=True)

amsterdam_cleaned[['host_response_time', 'host_response_rate', 'host_acceptance_rate']].sample(10)

       host_response_time host_response_rate host_acceptance_rate
13706                 NaN                NaN                  NaN
1634                  NaN                NaN                  NaN
2987                  NaN                NaN                  NaN
17199      within an hour                86%                 100%
1957                  NaN                NaN                  NaN
15162  within a few hours               100%                  40%
1679       within an hour               100%                 100%
12380      within an hour               100%                  97%
16535  within a few hours               100%                 100%
17411                 NaN                NaN                  85%

## Amsterdam Detailed Reviews

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_reviews.csv)

In [66]:
amsterdam_detailed_rev = pd.read_csv('Amsterdam_detailed_reviews.csv', compression='gzip',
                                  error_bad_lines=False)

print(amsterdam_detailed_rev.shape)
amsterdam_detailed_rev.head(10)

(441274, 6)

   listing_id  ...                                                                                                                                                                                                                                                                                                     comments
0        2818  ...                                                   Daniel is really cool. The place was nice and clean. Very quiet neighborhood. He had maps and a lonely planet guide book in the room for you to use. I didnt have any trouble finding the place from Central Station. I would defintely come back! Thanks!
1        2818  ...  Daniel is the most amazing host! His place is extremely clean, and he provides everything you could possibly want (comfy bed, guidebooks & maps, mini-fridge, towels, even toiletries). He is extremely friendly and helpful, and will go out of his way to help you if needed, or just let you come and...
2        2818  ...  We had such a great time in Amsterdam. Daniel is an excellent host! Very friendly and everytime helpful. The room was cozy, comfortable, and VERY clean. Maps, towels, mini-fridge, coffee (very tasty) and tea supplies were provided. Bathroom with all the bathroom requires. Good location - next to...
3        2818  ...                                                                                                  Very professional operation. Room is very clean and comfortable. Location is close to tram or bus which take you to most of attractions. A great and helpful host who want to ensure you enjoy your stay.
4        2818  ...                        Daniel is highly recommended.  He provided all necessities (and actually went way beyond what's expected of a great host). His place is very clean.  It is also convenient to buses and trams which will take you around the city in minutes.  You will truly feel like a local here.
5        2818  ...  Daniel was a great host! He made everything so easy for us! The room was super clean and well equipped, the beds were very comfortable! Daniel also gave us good advices,  tips and tools (maps, compass, umbrella..) for getting around the city. The place is located in the quiet neighbourhood so we...
6        2818  ...  Daniele is an amazing host! He provided everything that was needed to make our stay comfortable and easy! The rooms were clean and cozy; and he took the time to show us how to get around Amsterdam via public transportation or riding around on bicycles. You truly do feel like a local when staying...
7        2818  ...  You canÂ´t have a nicer start in Amsterdam. Daniel is such a great and welcoming host. The room was really light and charming, so well decorated. Daniel has a great sense of hospitality, he even helped with our luggage and gave us maps and a travelguide. HeÂ´s very open minded and helpful. We had ...
8        2818  ...                                                                                                Daniel was a fantastic host. His place is calm and clean, and he provided so much information on how to enjoy the amazing city of Amsterdam. Should I return to the city, his place will be my first choice!
9        2818  ...                 Daniel was great. He couldn.t do enough for us. He has gone to a lot of trouble and added every little touch to his apartment. He can speak 5 languages so that should not be a problem for anyone.\r\nThe accomation had everything we needed and was very convienient to the bus and tram.

[10 rows x 6 columns]

In [ ]:
raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

print(amsterdam_listing.shape)
amsterdam_listing.head()

In [ ]:
wa_detailed_reviews = pd.read_csv('Seattle_WA_reviews_zip.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_reviews.shape)
wa_detailed_reviews.head(10)

In [ ]:
wa_detailed_listings = pd.read_csv('Seattle_WA_detailed_listings.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_listings.shape)
wa_detailed_listings.head(10)

In [ ]:
wa_detailed_listings.columns