# AirBnB Build Week Project

#### Source for data:
[Inside AirBnB](http://insideairbnb.com/get-the-data.html)

## Imports

In [36]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', 300)

## Amsterdam Calander Dataset

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_calendar.csv)

- Determine if this data will be helpful or can be found in another dataset with more information.

In [37]:
amsterdam_cal = pd.read_csv('Amsterdam_calendar.csv', compression='gzip')

print(amsterdam_cal.shape)
amsterdam_cal.head(10)

(6676319, 7)

   listing_id        date  ... minimum_nights maximum_nights
0        2818  2021-02-11  ...            3.0         1125.0
1      415619  2021-02-10  ...            2.0           30.0
2      415619  2021-02-11  ...            2.0           30.0
3      415619  2021-02-12  ...            2.0           30.0
4      415619  2021-02-13  ...            2.0           30.0
5      415619  2021-02-14  ...            2.0           30.0
6      415619  2021-02-15  ...            2.0           30.0
7      415619  2021-02-16  ...            2.0           30.0
8      415619  2021-02-17  ...            2.0           30.0
9      415619  2021-02-18  ...            2.0           30.0

[10 rows x 7 columns]

* Do not think this dataset will hold any real value for this project. Have data like this in another dataset. Probably not going to use this one but will keep it on hand for now.

## Amsterdam Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_listings.csv)

- Want to compare this dataset to the detailed one to see if this would be enough data or not.

In [38]:
raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

print(amsterdam_listing.shape)
amsterdam_listing.head()

(18291, 16)

      id  ... availability_365
0   2818  ...              139
1  20168  ...                0
2  25428  ...              251
3  27886  ...              136
4  28871  ...              338

[5 rows x 16 columns]

In [39]:
# Look at a list of all the features in this dataset
amsterdam_listing.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [40]:
# What values are in the neighbourhood_group?
amsterdam_listing['neighbourhood_group'].value_counts()

Series([], Name: neighbourhood_group, dtype: int64)

In [41]:
# Remove the neighbourhood_group feature --> nothing but NaNs
amsterdam_listing = amsterdam_listing.drop('neighbourhood_group', axis=1)

# Check my work
amsterdam_listing.head()

      id  ... availability_365
0   2818  ...              139
1  20168  ...                0
2  25428  ...              251
3  27886  ...              136
4  28871  ...              338

[5 rows x 15 columns]

In [42]:
# Look for NaN values
amsterdam_listing.isnull().sum()

id                                   0
name                                33
host_id                              0
host_name                           63
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2389
reviews_per_month                 2389
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [43]:
# Look at a summary of the numerical data
amsterdam_listing.describe(include=[np.number])

                 id  ...  availability_365
count  1.829100e+04  ...      18291.000000
mean   2.064229e+07  ...         61.923132
std    1.285836e+07  ...        115.602325
min    2.818000e+03  ...          0.000000
25%    1.010732e+07  ...          0.000000
50%    1.911168e+07  ...          0.000000
75%    3.039472e+07  ...         78.000000
max    4.807786e+07  ...        365.000000

[8 rows x 10 columns]

In [44]:
# Look at a summary of the non-numerical values
amsterdam_listing.describe(exclude=[np.number])

             name host_name  ...        room_type last_review
count       18258     18228  ...            18291       15902
unique      17863      5541  ...                4        1833
top     Amsterdam   Martijn  ...  Entire home/apt  2020-01-02
freq           31       152  ...            14283         259

[4 rows x 5 columns]

* Believe the detailed dataset will be more useful for this project due to the lack of features I believe will be useful for predictions.

## Amsterdam Detailed Listings

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_listings.csv)

- Explore this dataset to find out if this detailed data is going to be more helpful then the compressed listings.

In [45]:
amsterdam_detailed_listing = pd.read_csv('Amsterdam_detailed_listings.csv', 
                                         compression='gzip')

print(amsterdam_detailed_listing.shape)
amsterdam_detailed_listing.head(5)

(18291, 74)

      id  ... reviews_per_month
0   2818  ...              1.92
1  20168  ...              2.54
2  25428  ...              0.13
3  27886  ...              1.98
4  28871  ...              2.63

[5 rows x 74 columns]

In [46]:
# Look at all of the feature names
amsterdam_detailed_listing.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [47]:
amsterdam_detailed_listing[['neighbourhood', 'neighborhood_overview']].sample(5)

                               neighbourhood                                                                                                                                                                                                                                                                                        neighborhood_overview
14959  Amsterdam, Noord-Holland, Netherlands                                                                                                                                                                                                                                                   Down the house there is a very Nice and always  busy cafe.
15923  Amsterdam, Noord-Holland, Netherlands                                                                                                                                      De buurt is fantastisch! Midden op de Maasstraat sta je tussen alle winkeltjes, boetiekjes en restaurants&cafe's. Dit is echt een van de leukste straten van Amsterdam!
11638  Amsterdam, Noord-Holland, Netherlands  We are located in Amsterdam North, 200 meters away from the ferry that takes you to Amsterdam Central Station. The ferry ride is only 4 minutes, and it's available every 7 to 15 minutes depending on the time of the day. The neighbourhood is quiet and green, but also very close to the heart of Am...
6402   Amsterdam, Noord-Holland, Netherlands                                                                                                                                                                Located in the middle of the Jordaan (centre). Very close to for example Anne Frank House, 9 streets and Leidseplein. 50m from Prinsengracht.
14498                 Amsterdam, Netherlands  Cityden Residences Old Centre is located on Amsterdam’s Westelijke Eilanden (western islands), a unique and quiet part of the city centre of Amsterdam. <br /><br />The Westelijke Eilanden are three small islands in the city centre of Amsterdam. Together they form a pictorial, little neighbourhoo...

In [48]:
amsterdam_detailed_listing[['minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm']].sample(5)

       minimum_nights  ...  maximum_nights_avg_ntm
6281                5  ...                    30.0
17380               1  ...                   999.0
16008               2  ...                  1125.0
13489               2  ...                    31.0
3051                3  ...                    90.0

[5 rows x 8 columns]

In [49]:
amsterdam_detailed_listing[['calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month']].sample(5)

       calculated_host_listings_count  ...  reviews_per_month
12109                               9  ...                NaN
13146                               1  ...                NaN
8912                                1  ...               0.42
4972                                1  ...               0.18
15338                               1  ...               0.13

[5 rows x 5 columns]

In [50]:
amsterdam_detailed_listing[['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value']].sample(5)

       review_scores_rating  ...  review_scores_value
1134                   96.0  ...                  9.0
9742                   95.0  ...                 10.0
12113                   NaN  ...                  NaN
12661                  95.0  ...                 10.0
8117                  100.0  ...                  9.0

[5 rows x 7 columns]

In [51]:
# Is there any NaN values?
amsterdam_detailed_listing.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
name                                               33
description                                       297
neighborhood_overview                            6268
picture_url                                         0
host_id                                             0
host_url                                            0
host_name                                          63
host_since                                         63
host_location                                      92
host_about                                       7817
host_response_time                              14354
host_response_rate                              14354
host_acceptance_rate                            10495
host_is_superhost                                  63
host_thumbnail_url                                 63
host_picture_url                                   63
host_neighbourhood                               6134
host_listings_count                                63
host_total_listings_count                          63
host_verifications                                  0
host_has_profile_pic                               63
host_identity_verified                             63
neighbourhood                                    6268
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    18291
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       18291
bathrooms_text                                     22
bedrooms                                          997
beds                                              105
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              3
maximum_minimum_nights                              3
minimum_maximum_nights                              3
maximum_maximum_nights                              3
minimum_nights_avg_ntm                              3
maximum_nights_avg_ntm                              3
calendar_updated                                18291
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     2389
last_review                                      2389
review_scores_rating                             2632
review_scores_accuracy                           2642
review_scores_cleanliness                        2642
review_scores_checkin                            2650
review_scores_communication                      2643
review_scores_location                           2648
review_scores_value                              2648
license                                         18291
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                2389
dtype: int64

In [52]:
amsterdam_detailed_listing.description.sample(5)

8981                                                                                                                                                      Deze heerlijk zonnige studio is gelegen in stadsdeel de Pijp. In de nabije omgeving vindt u de Albert Cuijpmarkt, Heineken Experience en het Sarphatipark.
1323     A cozy and stylishly decorated apartment, spread over two floors right at the world famous market on the Albert Cuypstraat. In addition to an open kitchen, a large living/dining-area the apartment has a bedroom at the rear of the house.<br /><br /><b>The space</b><br />We’ve been very lucky havi...
4734     My place is close to Amsterdam Sloterdijk train station, tram stops, many shops, local restaurants, and parks. My place is good for couples, solo adventurers, business travellers,  and in particular is popular with people relocating to Amsterdam or coming for internships/courses.  There is a des...
14126    This bright and spacious private apartment, recently renovated, is located in the trendy Indische buurt.<br />The apartment has everything for a comfy and great stay.<br /><br /><b>The space</b><br />The apartment is fully furnished with one separate bedroom, one small room which can be used as ...
13125    Een fijne plek om de overnachten, voor wanneer je niet veel nodig hebt en slechts een slaapplek nodig hebt. Een nette kamer in een modern nieuwbouwhuis van ongeveer 12 m2, met daarin een bedbank geschikt voor 1-2 personen (140 cm breed). Verder staat er een bureau en een TV in de kamer. Netflix ...
Name: description, dtype: object

In [53]:
amsterdam_detailed_listing.name.sample(5)

17872             Luxe appartement in groen Amsterdam Noord
13819           My perfect home for you ?  Ask Me anything!
5784                     Near the city center/budget/WI-FI.
8383     White penthouse apartment at canals in City Centre
11972          Great family house closeby Amsterdam centre.
Name: name, dtype: object

In [54]:
amsterdam_detailed_listing.describe()

                 id  ...  reviews_per_month
count  1.829100e+04  ...       15902.000000
mean   2.064229e+07  ...           0.591448
std    1.285836e+07  ...           1.065085
min    2.818000e+03  ...           0.010000
25%    1.010732e+07  ...           0.130000
50%    1.911168e+07  ...           0.280000
75%    3.039472e+07  ...           0.580000
max    4.807786e+07  ...          35.530000

[8 rows x 41 columns]

In [55]:
amsterdam_detailed_listing.describe(exclude=[np.number])

                                  listing_url  ... instant_bookable
count                                   18291  ...            18291
unique                                  18291  ...                2
top     https://www.airbnb.com/rooms/15854242  ...                f
freq                                        1  ...            13914

[4 rows x 33 columns]

In [56]:
cols_to_keep = ['id', 'name', 'description', 'price', 'neighbourhood', 
                'neighborhood_overview', 'latitude', 'longitude', 'picture_url', 
                'property_type', 'room_type', 'bathrooms_text', 'accommodates', 
                'bedrooms', 'beds', 'amenities', 'minimum_nights', 
                'maximum_nights', 'has_availability', 'availability_30', 
                'availability_60', 'availability_90', 'availability_365', 
                'instant_bookable', 'host_listings_count', 'host_response_time', 
                'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 
                'host_has_profile_pic', 'host_identity_verified', 
                'number_of_reviews', 'review_scores_rating', 
                'review_scores_accuracy', 'review_scores_cleanliness', 
                'review_scores_checkin', 'review_scores_communication', 
                'review_scores_location', 'review_scores_value', 
                'reviews_per_month']

amsterdam_cleaned = pd.DataFrame(amsterdam_detailed_listing[cols_to_keep])

amsterdam_cleaned.head()

      id  ... reviews_per_month
0   2818  ...              1.92
1  20168  ...              2.54
2  25428  ...              0.13
3  27886  ...              1.98
4  28871  ...              2.63

[5 rows x 40 columns]

In [57]:
cols_to_rename = {'neighbourhood': 'neighborhood', 
                'neighborhood_overview': 'neighborhood_overview', 
                'bathrooms_text': 'bathrooms', 
                'beds': 'num_of_beds', 
                'minimum_nights': 'min_nights', 
                'maximum_nights': 'max_nights', 
                'has_availability': 'available', 
                'number_of_reviews': 'num_of_reviews', 
                'review_scores_rating': 'rating_score', 
                'review_scores_accuracy': 'accuracy', 
                'review_scores_cleanliness': 'cleanliness', 
                'review_scores_checkin': 'check_in_score', 
                'review_scores_communication': 'communication', 
                'review_scores_location': 'location_score', 
                'review_scores_value': 'value_score'}

amsterdam_cleaned = amsterdam_cleaned.rename(columns=cols_to_rename)

amsterdam_cleaned.head()

      id  ... reviews_per_month
0   2818  ...              1.92
1  20168  ...              2.54
2  25428  ...              0.13
3  27886  ...              1.98
4  28871  ...              2.63

[5 rows x 40 columns]

In [58]:
amsterdam_cleaned.describe(exclude=[np.number])

             name  ... host_identity_verified
count       18258  ...                  18228
unique      17863  ...                      2
top     Amsterdam  ...                      t
freq           31  ...                  11918

[4 rows x 18 columns]

In [59]:
bool_cols = ['available', 'instant_bookable', 'host_is_superhost', 
             'host_has_profile_pic', 'host_identity_verified']

amsterdam_cleaned[bool_cols] = amsterdam_cleaned[bool_cols].replace({'t': 1, 'f': 0})

amsterdam_cleaned.describe()

                 id      latitude  ...   value_score  reviews_per_month
count  1.829100e+04  18291.000000  ...  15643.000000       15902.000000
mean   2.064229e+07     52.365478  ...      9.202071           0.591448
std    1.285836e+07      0.016559  ...      0.832326           1.065085
min    2.818000e+03     52.289270  ...      2.000000           0.010000
25%    1.010732e+07     52.355100  ...      9.000000           0.130000
50%    1.911168e+07     52.364790  ...      9.000000           0.280000
75%    3.039472e+07     52.375370  ...     10.000000           0.580000
max    4.807786e+07     52.425120  ...     10.000000          35.530000

[8 rows x 27 columns]

In [60]:
amsterdam_cleaned.dtypes

id                          int64
name                       object
description                object
price                      object
neighborhood               object
neighborhood_overview      object
latitude                  float64
longitude                 float64
picture_url                object
property_type              object
room_type                  object
bathrooms                  object
accommodates                int64
bedrooms                  float64
num_of_beds               float64
amenities                  object
min_nights                  int64
max_nights                  int64
available                   int64
availability_30             int64
availability_60             int64
availability_90             int64
availability_365            int64
instant_bookable            int64
host_listings_count       float64
host_response_time         object
host_response_rate         object
host_acceptance_rate       object
host_is_superhost         float64
host_has_profile_pic      float64
host_identity_verified    float64
num_of_reviews              int64
rating_score              float64
accuracy                  float64
cleanliness               float64
check_in_score            float64
communication             float64
location_score            float64
value_score               float64
reviews_per_month         float64
dtype: object

In [61]:
amsterdam_cleaned.price.value_counts()

$150.00    980
$100.00    839
$120.00    661
$200.00    597
$125.00    517
          ...
$336.00      1
$453.00      1
$852.00      1
$494.00      1
$326.00      1
Name: price, Length: 502, dtype: int64

In [62]:
amsterdam_cleaned['price'] = amsterdam_cleaned['price'].map(lambda x: x.lstrip('$').replace(',', '')).astype(float)

amsterdam_cleaned['price'].values

array([ 59., 129., 125., ..., 250.,  55., 112.])

In [63]:
amsterdam_cleaned.dtypes

id                          int64
name                       object
description                object
price                     float64
neighborhood               object
neighborhood_overview      object
latitude                  float64
longitude                 float64
picture_url                object
property_type              object
room_type                  object
bathrooms                  object
accommodates                int64
bedrooms                  float64
num_of_beds               float64
amenities                  object
min_nights                  int64
max_nights                  int64
available                   int64
availability_30             int64
availability_60             int64
availability_90             int64
availability_365            int64
instant_bookable            int64
host_listings_count       float64
host_response_time         object
host_response_rate         object
host_acceptance_rate       object
host_is_superhost         float64
host_has_profile_pic      float64
host_identity_verified    float64
num_of_reviews              int64
rating_score              float64
accuracy                  float64
cleanliness               float64
check_in_score            float64
communication             float64
location_score            float64
value_score               float64
reviews_per_month         float64
dtype: object

In [64]:
amsterdam_cleaned['bathrooms'].value_counts()

1 bath               10677
1.5 baths             3473
1 shared bath         1210
1 private bath        1043
2 baths                802
1.5 shared baths       466
2.5 baths              239
3 baths                 96
3.5 baths               43
Half-bath               39
0 baths                 38
Shared half-bath        32
2 shared baths          29
0 shared baths          15
4 baths                 13
Private half-bath       11
3 shared baths          10
3.5 shared baths         8
2.5 shared baths         6
4 shared baths           5
4.5 baths                4
8 baths                  3
5 baths                  2
6 baths                  2
12 baths                 1
13 baths                 1
5.5 baths                1
Name: bathrooms, dtype: int64

In [65]:
# amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].copy()

# amsterdam_cleaned['shared_bath'] = [0] * len(amsterdam_cleaned)

# for i in range(len(amsterdam_cleaned.bathrooms)):
#     for val in amsterdam_cleaned.bathrooms[i]:
#         if 'shared' in val.lower():
#             amsterdam_cleaned.shared_bath[val] = 1
#         else:
#             amsterdam_cleaned.shared_bath[val] = 0

# amsterdam_cleaned['shared_bath'] = [1 if 'shared' in val == True else 0 for val in amsterdam_cleaned['bathrooms']]

# amsterdam_cleaned['shared_bath'][amsterdam_cleaned['bathrooms'].str.contains('shared')] = 1
# amsterdam_cleaned['shared_bath'][amsterdam_cleaned['bathrooms'].str.contains('Shared')] = 1

# amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].map(lambda x: 't' if x.str.contains('shared') or x.str.contains('Shared') else 'f')

# if amsterdam_cleaned['shared_bath'].str.contains('shared').any() or amsterdam_cleaned['shared_bath'].str.contains('Shared').any():
#     amsterdam_cleaned['shared_bath'] = True

# else:
#     amsterdam_cleaned['shared_bath'] = False

amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['bathrooms'].str.lower().str.contains('shared')

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

            bathrooms shared_bath
350            1 bath       False
3195           1 bath       False
1727        1.5 baths       False
5108           1 bath       False
18137          1 bath       False
2686           1 bath       False
13581       1.5 baths       False
17946       1.5 baths       False
15565  1 private bath       False
8756           1 bath       False

In [66]:
amsterdam_cleaned['shared_bath'] = amsterdam_cleaned['shared_bath'].map(lambda x: 1 if x == True else 0)

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

            bathrooms  shared_bath
6142           1 bath            0
11161          1 bath            0
8697           1 bath            0
15514  2 shared baths            1
4856           1 bath            0
7188        1.5 baths            0
15267          1 bath            0
15423          1 bath            0
7496        1.5 baths            0
2654        1.5 baths            0

In [67]:
amsterdam_cleaned['bathrooms'] = amsterdam_cleaned['bathrooms'].str.replace('half-bath', '0.5', case=False)

amsterdam_cleaned[['bathrooms', 'shared_bath']].sample(10)

              bathrooms  shared_bath
10294         1.5 baths            0
506              1 bath            0
11970            1 bath            0
10739            1 bath            0
4649             1 bath            0
10423         1.5 baths            0
2125             1 bath            0
8152          1.5 baths            0
1164   1.5 shared baths            1
7496          1.5 baths            0

In [68]:
amsterdam_cleaned['bathrooms'].value_counts()

1 bath              10677
1.5 baths            3473
1 shared bath        1210
1 private bath       1043
2 baths               802
1.5 shared baths      466
2.5 baths             239
3 baths                96
3.5 baths              43
0.5                    39
0 baths                38
Shared 0.5             32
2 shared baths         29
0 shared baths         15
4 baths                13
Private 0.5            11
3 shared baths         10
3.5 shared baths        8
2.5 shared baths        6
4 shared baths          5
4.5 baths               4
8 baths                 3
5 baths                 2
6 baths                 2
12 baths                1
5.5 baths               1
13 baths                1
Name: bathrooms, dtype: int64

In [71]:
amsterdam_cleaned['bathrooms'] = amsterdam_cleaned['bathrooms'].str.extract('(\d*\.?\d*)')

amsterdam_cleaned['bathrooms'].value_counts()

1      12930
1.5     3939
2        831
2.5      245
3        106
0         53
3.5       51
          43
0.5       39
4         18
4.5        4
8          3
6          2
5          2
12         1
5.5        1
13         1
Name: bathrooms, dtype: int64

In [72]:
amsterdam_cleaned['bathrooms'].dtype

dtype('O')

In [75]:
amsterdam_cleaned['bathrooms'].unique()

array(['1.5', '1', '2', nan, '3', '0', '', '2.5', '3.5', '4', '0.5', '6',
       '8', '5', '4.5', '5.5', '13', '12'], dtype=object)

## Amsterdam Detailed Reviews

[Download the dataset here](https://github.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/blob/main/data/Amsterdam_detailed_reviews.csv)

In [66]:
amsterdam_detailed_rev = pd.read_csv('Amsterdam_detailed_reviews.csv', compression='gzip',
                                  error_bad_lines=False)

print(amsterdam_detailed_rev.shape)
amsterdam_detailed_rev.head(10)

(441274, 6)

   listing_id  ...                                                                                                                                                                                                                                                                                                     comments
0        2818  ...                                                   Daniel is really cool. The place was nice and clean. Very quiet neighborhood. He had maps and a lonely planet guide book in the room for you to use. I didnt have any trouble finding the place from Central Station. I would defintely come back! Thanks!
1        2818  ...  Daniel is the most amazing host! His place is extremely clean, and he provides everything you could possibly want (comfy bed, guidebooks & maps, mini-fridge, towels, even toiletries). He is extremely friendly and helpful, and will go out of his way to help you if needed, or just let you come and...
2        2818  ...  We had such a great time in Amsterdam. Daniel is an excellent host! Very friendly and everytime helpful. The room was cozy, comfortable, and VERY clean. Maps, towels, mini-fridge, coffee (very tasty) and tea supplies were provided. Bathroom with all the bathroom requires. Good location - next to...
3        2818  ...                                                                                                  Very professional operation. Room is very clean and comfortable. Location is close to tram or bus which take you to most of attractions. A great and helpful host who want to ensure you enjoy your stay.
4        2818  ...                        Daniel is highly recommended.  He provided all necessities (and actually went way beyond what's expected of a great host). His place is very clean.  It is also convenient to buses and trams which will take you around the city in minutes.  You will truly feel like a local here.
5        2818  ...  Daniel was a great host! He made everything so easy for us! The room was super clean and well equipped, the beds were very comfortable! Daniel also gave us good advices,  tips and tools (maps, compass, umbrella..) for getting around the city. The place is located in the quiet neighbourhood so we...
6        2818  ...  Daniele is an amazing host! He provided everything that was needed to make our stay comfortable and easy! The rooms were clean and cozy; and he took the time to show us how to get around Amsterdam via public transportation or riding around on bicycles. You truly do feel like a local when staying...
7        2818  ...  You can´t have a nicer start in Amsterdam. Daniel is such a great and welcoming host. The room was really light and charming, so well decorated. Daniel has a great sense of hospitality, he even helped with our luggage and gave us maps and a travelguide. He´s very open minded and helpful. We had ...
8        2818  ...                                                                                                Daniel was a fantastic host. His place is calm and clean, and he provided so much information on how to enjoy the amazing city of Amsterdam. Should I return to the city, his place will be my first choice!
9        2818  ...                 Daniel was great. He couldn.t do enough for us. He has gone to a lot of trouble and added every little touch to his apartment. He can speak 5 languages so that should not be a problem for anyone.\r\nThe accomation had everything we needed and was very convienient to the bus and tram.

[10 rows x 6 columns]

In [ ]:
raw_amsterdam_listing = 'https://raw.githubusercontent.com/BW-TT-158-AirBnB/Data-Science-Unit3-and-Unit4/main/data/Amsterdam_listings.csv'

amsterdam_listing = pd.read_csv(raw_amsterdam_listing)

print(amsterdam_listing.shape)
amsterdam_listing.head()

In [ ]:
wa_detailed_reviews = pd.read_csv('Seattle_WA_reviews_zip.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_reviews.shape)
wa_detailed_reviews.head(10)

In [ ]:
wa_detailed_listings = pd.read_csv('Seattle_WA_detailed_listings.csv', compression='gzip',
                                  error_bad_lines=False)

print(wa_detailed_listings.shape)
wa_detailed_listings.head(10)

In [ ]:
wa_detailed_listings.columns